%section
  %h1 Withdrawals

  [withdrawals list]


%nav
  %a{ href: js_void, data: { toggle: "new_withdrawal" } } New withdrawal

%section.tabbed.new_withdrawal.hidden
  %nav
    %a{ href: js_void } EUR
    %a{ href: js_void } BTC

  %section.hidden
    %form{ action: "/withdrawals", method: "post" }
      - hidden "type", "eur"
      SEPA wire transfer
      %input{ type: "text", name: "amount" } €
      - submit "send"

  %section.hidden
    %form{ action: "/withdrawals", method: "post" }
      - hidden "type", "btc"
      %input{ type: "text", name: "amount", value: "0.0005" } BTC
      - submit "send"