%section
  %h1 Withdrawals

  [withdrawals list]


%nav
  %a{ href: js_void, data: { toggle: "new_withdrawal" } } New withdrawal

%section.new_withdrawal.hidden
  .tab
    %h1
      %a{ href: js_void } EUR

    .inside.hidden
      %form{ action: "/withdrawals", method: "post" }
        - hidden "type", "eur"
        %input{ type: "text", name: "amount", value: "0.0005" } €
        - submit "send"


  .tab
    %h1
      %a{ href: js_void } BTC

    .inside.hidden
      %form{ action: "/withdrawals", method: "post" }
        - hidden "type", "btc"
        %input{ type: "text", name: "amount", value: "0.0005" } BTC
        - submit "send"