.overlay.overlay-dark.layer2.overlay_section.hidden
  .line-compress
    .separator50
    .separator30
    .col4.offset-left3.line-tablet.bg-white.bordered.overlay-content.radius3
      .line-compress.new_deposit.tabbed
        %h1
        .hr
        .separator10
        %nav.line
          .col5
            .line-compress
              %button.btn.btn-medium.current.radius3{ href: js_void }
                €
                %br
                Withdraw Euro
          .col5
            .line-compress
              %button.btn.btn-medium.radius3{ href: js_void }
                .fa.fa-bitcoin
                %br
                Withdraw Bitcoin
          .separator10

        %section.line-compress
          %form{ action: "/withdrawals", method: "post" }
            - hidden "type", "eur"
            SEPA wire transfer
            %input{ type: "text", name: "amount" } €
            - submit "Send withdraw request"

        %section.line-compress.hidden
          %form{ action: "/withdrawals", method: "post" }
            - hidden "type", "btc"
            %input{ type: "text", name: "amount", value: "0.0005" } BTC
            - submit "Withdraw BTC"
            

.line-max-medium
  .line.bg-green.color-white.bg-pattern1
    .col7
      .separator10
      .line-compress
        %h1 Withdrawals
      .separator10

    .col3
      .right-content
        %button.btn.bg-lightgreen.font-medium.color-muted.no-padding{ data: { toggle: "overlay_section" } }
          .separator15
          .separator2
          %i.fa.fa-plus
          Withdraw funds
          .separator15

.line-max-medium.bg-white
  .separator10


  .line-compress
    %h1 Withdrawals
    There are no withdrawals.
  .separator10

        

