// Core Bootstrap variables
@import "bootstrap/variables";

// Core Wrapkit variables
@import "layout/variables";
@import "header/variables";
@import "sidebar/variables";
@import "content/variables";
@import "footer/variables";

// other var below!