body{
	// overflow-x: hidden;
}

.wrapkit-wrapper{
	position: relative;
	margin: 0 auto;
	padding: 0;
	min-height: $layout-min-height;
	height: auto;
}

.wrapkit-wrapper.container{
	@include box-shadow( -5px 0 60px rgba(0, 0, 0, .175) );
}


// use iframe on fullscreen (open external pages while in fullscreen)
body > #external-iframe-link{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}