body.wrapkit-sidebar-rtl{

	.sidebar{

		direction: rtl;
	
		.sidebar-actions{
			
			.sidebar-actions-bar{
				
				& > li{
					margin-right: 0;
					margin-left: -3px;
				} // end of sidebar actions bar item

			} // end of sidebar actions bar

			.sidebar-form-search{

				.form-control{
					padding: $sidebar-actions-padding-base  0 $sidebar-actions-padding-base $sidebar-actions-padding-base;
				} // end of form control

			} // end of sidebar form search

		} // end of sidebar actions

		.sidebar-nav{

			.nav{

				padding-right: 0;

				.nav-header{

					.nav-header-icon{

						float: left;
					} // end of sidebar nav-header-icon

				} // end of sidebar nav-header

				li.nav-item{

					.nav-item-loader{

						& > i{

							right: auto;
							left: $sidebar-nav-item-padding-horizontal;
						} // end of sidebar i (icon element)
					} // end of sidebar nav-item-loader


					a{

						border-width: $sidebar-nav-border-width-rtl;

						.badge, .caret{
							float: left;
							margin-left: 0;
							margin-right: 10px;
						} // end of sidebar badge/caret

						.badge{
							right: auto;
							left: -4px;
						} // end of sidebar badge

						.nav-item-text{
							padding-left: 0;
							padding-right: $sidebar-nav-text-padding;
						} // end of sidebar nav-item-text

					} // end of a

					.nav-item-child{

						& > li{
							
							& > a{
								padding: $sidebar-nav-item-padding-vertical $sidebar-nav-item-padding-horizontal;
								padding-right: $nav-item-child-indent-level1;

								.caret{
									float: right;
									margin-left: 0;
									margin-right: -20px;
								} // end caret nav child

								.nav-item-text{
									padding-right: 0;
								} // end nav-item-text on nav child

							} // end of a

							.nav-item-child{

								li{

									& > a{
										padding-left: $sidebar-nav-item-padding-horizontal;
										padding-right: $nav-item-child-indent-level3;
									} // end of a

									.nav-item-child{

										li{

											& > a{
												padding-left: $sidebar-nav-item-padding-horizontal;
												padding-right: $nav-item-child-indent-level4;
											} // end of a

										} // end of li
										
									} // end of nav-item-child level 3

								} // end of li

							} // end of nav-item-child level 2

						} // end of li

					} // end of nav-item-child level 1

				} // end of sidebar nav-item

			} // end of sidebar nav

		} // end of sidebar-nav

	} // end of sidebar


	// below is medium version of sidebar rtl
	&.wrapkit-sidebar-md{
		
		.sidebar{
			
			.sidebar-actions{
				margin-right: -1px;
				&:hover,
				&.open{
					@include translate( ($sidebar-width-md * 3) , 0 );
				}
			} // end of sidebar actions

			.sidebar-nav{
				
				.nav{

					.nav-header{
						
						.nav-header-icon{
							float: none;
						} // end of nav header icon

					} // end of nav-header

					.nav-item{
						
						a{
							.badge{
								right: auto;
								left: $sidebar-nav-item-padding-vertical;
							} // end of nav item badge

							.nav-item-text{
								padding: 0 5px;
							} // end of nav item text

						} // end of a

						.nav-item-loader > i{
							right: auto;
							left: $sidebar-nav-item-padding-horizontal;
						} // end of nav-item-loader > i

						& > .nav-item-child{
							padding: 0;

							& > li{

								& > a{
									padding-left: $sidebar-nav-item-padding-vertical;
									padding-right: $sidebar-nav-item-padding-vertical * 2;

									.caret{
										margin-left: 0;
										margin-right: -20px;
									} // end of caret

									.badge{
										float: left;
									} // end of badge

								} // end of a

							} // end of li
							
							.nav-item-child{

								li{

									a{
										padding-left: $sidebar-nav-item-padding-vertical;
										padding-right: $sidebar-nav-item-padding-vertical * 3;

										.caret{
											margin-left: 0;
											margin-right: -20px;
										} // end of caret (show on level > 1)

										.badge{
											float: left;
										} // end of .badge

									} // end of a

									.nav-item-child{
										li{
											a{
												padding-left: $sidebar-nav-item-padding-vertical;
												padding-right: $sidebar-nav-item-padding-vertical * 4;
											} // end of a

											.nav-item-child{
												a{
													padding-left: $sidebar-nav-item-padding-vertical;
													padding-right: $sidebar-nav-item-padding-vertical * 5;
												} // end of a

											} // end of nav-item-child

										} // end of li

									} // end of nav-item-child level >= 3

								} // end of li

							} // end of nav-item-child

						} // end of nav-item-child

					} // end of nav-item

				} // end of .nav

			} // end of sidebar-nav

		} // end of sidebar

	} // end of wrapkit sidebar-md rtl mode


	// below is small version of sidebar rtl
	&.wrapkit-sidebar-sm{
		
		.sidebar{
			
			.sidebar-actions{
				margin-right: -1px;
				&:hover,
				&.open{
					@include translate( ($sidebar-width-sm * 6) , 0 );
				}
			} // end of sidebar actions

			.sidebar-nav{
				
				.nav{

					.nav-header{
						
						.nav-header-icon{
							float: none;
						} // end of nav header icon

					} // end of nav-header

					.nav-item{

						.badge{
							right: auto;
							left: -($sidebar-nav-item-padding-vertical/2);
						} // end of nav item badge

						.nav-item-loader > i{
							right: auto;
							left: $sidebar-nav-item-padding-horizontal;
						} // end of nav-item-loader > i

						& > a{

							& > .nav-item-text{
								text-align: right;
								padding: $sidebar-nav-item-padding-vertical $sidebar-nav-item-padding-horizontal;
							}
						} // end of nav item > a

						& > .nav-item-child{
							padding: 0;

							& > li{

								& > a{
									padding-left: $sidebar-nav-item-padding-vertical * 2;
									padding-right: $sidebar-nav-item-padding-vertical * 2;

									.caret{
										margin-left: 0;
										margin-right: -20px;
									} // end of caret

									.badge{
										float: left;
									} // end of badge

								} // end of a

							} // end of li
							
							.nav-item-child{

								li{

									a{
										padding-left: $sidebar-nav-item-padding-vertical * 2;
										padding-right: $sidebar-nav-item-padding-vertical * 3;

										.caret{
											margin-left: 0;
											margin-right: -20px;
										} // end of caret (show on level > 1)

										.badge{
											float: left;
										} // end of .badge

									} // end of a

									.nav-item-child{
										li{
											a{
												padding-left: $sidebar-nav-item-padding-vertical * 2;
												padding-right: $sidebar-nav-item-padding-vertical * 4;
											} // end of a

											.nav-item-child{
												a{
													padding-left: $sidebar-nav-item-padding-vertical * 2;
													padding-right: $sidebar-nav-item-padding-vertical * 5;
												} // end of a

											} // end of nav-item-child

										} // end of li

									} // end of nav-item-child level >= 3

								} // end of li

							} // end of nav-item-child

						} // end of nav-item-child

					} // end of nav-item

				} // end of .nav

			} // end of sidebar-nav

		} // end of sidebar

	} // end of wrapkit sidebar-sm rtl mode


	// below is hidden version of sidebar rtl
	&.wrapkit-sidebar-hidden{

		.sidebar{

			.sidebar-actions{
				.sidebar-form-search{
					.form-control{
						padding: $sidebar-actions-padding-lg 0;
						height: 100%;
					}
				} // end of sidebar-form

			} // end of sidebar-actions

		} // end of wrapkit sidebar

	} // end of wrapkit sidebar-hidden rtl mode



	// below is sidebar right rtl mode
	&.wrapkit-sidebar-right{
		
		.sidebar{

			.sidebar-nav{

				.nav{

					li.nav-item{
						border-left: $sidebar-nav-item-border-right;
					} // end .nav-item

				} // end .nav

			} // end .sidebar-nav

		} // end .sidebar


		&.wrapkit-sidebar-md,
		&.wrapkit-sidebar-sm{
			.sidebar .sidebar-actions{
				margin-right: 0;
				margin-left: -1px;
			}
		}

	} // end of sidebar right rtl mode

} // end of wrapkit-sidebar-rtl