// SIDEBAR VARIANTS
// ---------------------------------------------

// wrapkit sidebar-variant-extend
body.wrapkit-sidebar-variant-extend{
	
	.sidebar{
		border-right: none;

		.sidebar-nav{

			.nav{

				li.nav-item{

					border-right: none;
					
					// loader
					.nav-item-loader > i{
						color: $sidebar-context-bg;
					}
					&.loader-state > a,
					.loader-state > a{
						color: $sidebar-context-bg !important;

						.nav-item-icon{
							color: $sidebar-context-bg !important;
						} // end nav-item-icon
					} // end of loader-state

					&.active.open{
						& > a,
						& > a.active,
						& > a:active,
						& > a:hover,
						& > a:focus,
						& > a:visited{
							border-color: transparent;
						}
					}

					&.active:not(.open),
					.nav-item-child > li.active:not(.open){

						& > a,
						& > a.active,
						& > a:active,
						& > a:hover,
						& > a:focus,
						& > a:visited{
							color: $sidebar-context-bg;
							background-color: $content-bg !important;
							border-color: $content-bg !important;
							
							.caret{
								color: $sidebar-context-bg;
							} // end of sidebar item:hover caret

							.badge{
								color: $sidebar-context-color;
								background-color: $sidebar-context-bg;
							} // end of sidebar open/active state badge

							.nav-item-icon{
								color: $sidebar-context-bg;
							} // end nav-item-icon
						}
					} // end of active state

				} // end of nav-item

			} // end of nav

		}  // end of sidebar-nav

	} // end of sidebar


	// below is medium version	
	&.wrapkit-sidebar-md{
		
		.sidebar .sidebar-actions{
			border-right: none;
			border-left: none;
		}

		.sidebar .sidebar-nav .nav li.nav-item.active > a .nav-item-text{
			color: $content-color;
		}
		.sidebar .sidebar-nav .nav li.nav-item.active.open > a .nav-item-text{
			color: $sidebar-context-color;
		}
		
		.sidebar .sidebar-nav .nav .nav-header .nav-header-text{
			margin-top: -46px;
			left: $sidebar-width-md;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			padding: $sidebar-nav-item-padding-horizontal $sidebar-nav-item-padding-vertical;

			&:before{
				display: none;
			} // end of caret sidebar-header-(text)

		} // end of sidebar-header-text

		.sidebar .sidebar-nav .nav li.nav-item{
			
			& > .nav-item-child{
				left: $sidebar-width-md;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&:before,
				&:after{
					display: none;
				}

				& > li{

					&:first-child > a{
						border-top-left-radius: 0;
					}
					&:last-child > a{
						border-bottom-left-radius: 0;
					}

				} // end of li

			} // end of sidebar-nav-item-child

		} // end of sidebar-nav-item

	} // end of wrapkit-sidebar-md

	
	// below is small version
	&.wrapkit-sidebar-sm{
		
		.sidebar .sidebar-actions{
			border-right: none;
			border-left: none;
		}
		
		.sidebar .sidebar-nav .nav li.nav-item.active > a .nav-item-text{
			color: $content-color;
		}
		.sidebar .sidebar-nav .nav li.nav-item.active.open > a .nav-item-text{
			color: $sidebar-context-color;
		}
		
		.sidebar .sidebar-nav .nav .nav-header .nav-header-text{
			margin-top: -46px;
			left: $sidebar-width-sm;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			padding: $sidebar-nav-item-padding-horizontal $sidebar-nav-item-padding-vertical;

			&:before{
				display: none;
			} // end of caret sidebar-header-(text)

		} // end of sidebar-header-text

		.sidebar .sidebar-nav .nav li.nav-item{

			& > a > .nav-item-text{
				left: $sidebar-width-sm;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				background-color: $sidebar-nav-item-bg-hover;

				&:before{
					display: none;
				}
			} // end of nav-item text

			&.active > a > .nav-item-text{
				color: $sidebar-nav-item-color-hover;
			}

			& > a > .badge{
				z-index: 3;
			} // end of badge
			
			& > .nav-item-child{
				left: $sidebar-width-sm;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&:before,
				&:after{
					display: none;
				}

				& > li{

					&:first-child > a{
						border-top-left-radius: 0;
					}
					&:last-child > a{
						border-bottom-left-radius: 0;
					}

				} // end of li

			} // end of sidebar-nav-item-child

		} // end of sidebar-nav-item

	} // end of wrapkit-sidebar-sm


	// below is sidebar right mode
	&.wrapkit-sidebar-right{
			
		.sidebar{
			border-left: none;
		} // end of sidebar

		// below is medium version of sidebar on right
		&.wrapkit-sidebar-md{

			.sidebar .sidebar-actions{
				margin-left: 0;
			}
			.sidebar .sidebar-nav .nav .nav-header .nav-header-text,
			.sidebar .sidebar-nav .nav li.nav-item > .nav-item-child{
				left: auto;
				right: $sidebar-width-md;
			}
			.sidebar .sidebar-nav .nav .nav-header .nav-header-text{
				border-top-right-radius: 0;
				border-top-left-radius: $border-radius-base;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: $border-radius-base;
			}
			.sidebar .sidebar-nav .nav li.nav-item > .nav-item-child{
				border-top-right-radius: 0;
				border-top-left-radius: $border-radius-base;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: $border-radius-base;
			}
			.sidebar .sidebar-nav .nav li.nav-item > .nav-item-child > li{
				&:first-child > a{
					border-top-right-radius: 0;
					border-top-left-radius:  $border-radius-base;
				}
				&:last-child > a{
					border-bottom-right-radius: 0;
					border-bottom-left-radius:  $border-radius-base;
				}
			}
		} // end of sidebar medium version of sidebar on right

		// below is small version of sidebar on right
		&.wrapkit-sidebar-sm{
			.sidebar .sidebar-actions{
				margin-left: 0;
			}
			
			.sidebar .sidebar-nav .nav .nav-header .nav-header-text,
			.sidebar .sidebar-nav .nav li.nav-item > .nav-item-child,
			.sidebar .sidebar-nav .nav li.nav-item > a > .nav-item-text{
				left: auto;
				right: $sidebar-width-sm;
			}

			.sidebar .sidebar-nav .nav .nav-header .nav-header-text{
				border-top-right-radius: 0;
				border-top-left-radius: $border-radius-base;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: $border-radius-base;
			}
			.sidebar .sidebar-nav .nav li.nav-item > .nav-item-child{
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: $border-radius-base;
			}
			.sidebar .sidebar-nav .nav li.nav-item > a > .nav-item-text{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-top-left-radius: $border-radius-base;
				border-bottom-left-radius: $border-radius-base;
			}
			.sidebar .sidebar-nav .nav li.nav-item.open > a > .nav-item-text{
				border-bottom-left-radius: 0;
			}
			.sidebar .sidebar-nav .nav li.nav-item > .nav-item-child > li{
				&:first-child > a{
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}
				&:last-child > a{
					border-bottom-right-radius: 0;
					border-bottom-left-radius:  $border-radius-base;
				}
			}
		} // end of sidebar small version of sidebar on right

	} // end of sidebar right mode

	// below is sidebar right rtl mode
	&.wrapkit-sidebar-rtl{
		&.wrapkit-sidebar-right{
			
			.sidebar{

				.sidebar-nav{

					.nav{

						li.nav-item{
							border-left: none;
						} // end .nav-item

					} // end .nav

				} // end .sidebar-nav

			} // end .sidebar

		} // end of sidebar right rtl mode
	} // end of sidebar rtl mode

} // end of sidebar (variant extend)



// wrapkit sidebar-variant-caretal
body.wrapkit-sidebar-variant-caretal{
	
	.sidebar .sidebar-actions .sidebar-actions-bar > li > a:hover,
	.sidebar .sidebar-actions .sidebar-actions-bar > li.open > a{
		color: $sidebar-context-bg;
	} // end sidebar actions a:hover

	.sidebar .sidebar-nav .nav li.nav-item{

		& > a:hover{

			.nav-item-icon{
				color: $sidebar-context-bg;
			} // end nav-item-icon on nav item

		} // end of a:hover

		&.active,
		&.open{
			& > a,
			& > a.active,
			& > a:active,
			& > a:hover,
			& > a:focus,
			& > a:visited{
				.nav-item-icon{
					color: $sidebar-context-bg;
				} // end nav-item-icon on nav child
			} // end of a

		} // end of active/open state

		&.active{

			&:before{
				position: absolute;
				margin-top: 10px;
				right: -1px;
				content: '';
				width: 0;
				height: 0;
				border-color: transparent;
				border-right-color:  $content-bg;
				border-style: solid;
				border-width: 10px 10px 10px 0;
				z-index: 2;
			} // end of :before

			& > a,
			& > a.active,
			& > a:active,
			& > a:hover,
			& > a:focus,
			& > a:visited{
				border-color: transparent !important;
			} // end of a

		} // end of active state nav-item

	} // end of sidebar

	// below is sidebar right mode
	&.wrapkit-sidebar-right{

		.sidebar .sidebar-nav .nav li.nav-item.active:before{
			right: auto;
			left: -1px;
			border-color: transparent;
			border-left-color:  $content-bg;
			border-width: 10px 0 10px 10px;
		} // end of sidebar caretal

	} // end of sidebar right mode

} // end of sidebar (variant caretal)



// wrapkit sidebar-variant-block
body.wrapkit-sidebar-variant-block{
	
	.sidebar{

		.sidebar-actions{

			.sidebar-actions-bar{

				& > li{
					& > a:hover,
					&.open > a{
						color: $sidebar-context-color;
						background-color: $sidebar-context-bg !important;
						border-color: $sidebar-context-border;
					}
				}

			}

		} // end of sidebar actions


		.sidebar-nav{

			.nav{
				li.nav-item{
					// loader
					.nav-item-loader > i{
						color: $sidebar-context-color;
					}
					&.loader-state > a,
					.loader-state > a{
						color: $sidebar-nav-item-color !important;

						.nav-item-icon{
							color: $sidebar-nav-item-color !important;
						} // end nav-item-icon
					} // end of loader-state					
				} // end of nav-item

				li.nav-item.open{

					& > a,
					& > a.active,
					& > a:active,
					& > a:hover,
					& > a:focus,
					& > a:visited{
						border-color: $sidebar-context-border;
					} // end of a
				}
				li.nav-item,
				li.nav-item .nav-item-child > li,
				li.nav-item .nav-item-child > li .nav-item-child li{
					& > a,
					& > a.active,
					& > a:active,
					& > a:hover,
					& > a:focus,
					& > a:visited{
						margin-right: -1px;
					} // end of a
				}
				li.nav-item,
				li.nav-item .nav-item-child > li,
				li.nav-item .nav-item-child > li .nav-item-child li{
					&.active:not(.open){

						& > a,
						& > a.active,
						& > a:active,
						& > a:hover,
						& > a:focus,
						& > a:visited{
							background-color: $sidebar-context-bg;
							color: $sidebar-context-color;
							
							.badge{
								color: $sidebar-context-bg;
								background-color: $sidebar-context-color;
							} // end of sidebar item open/active badge

							.caret,
							.nav-item-icon{
								color: $sidebar-context-color;
							} // end nav-item-icon & caret

						} // end of a

					} // end of sidebar item active state

				} // end of nav-item

			} // end of nav

		} // end of sidebar-nav

	} // end of sidebar

	// below is sidebar md/sm  mode
	&.wrapkit-sidebar-md,
	&.wrapkit-sidebar-sm{
		.sidebar .sidebar-nav .nav li.nav-item .nav-item-child > li,
		.sidebar .sidebar-nav .nav li.nav-item .nav-item-child > li .nav-item-child li{
			& > a,
			& > a.active,
			& > a:active,
			& > a:hover,
			& > a:focus,
			& > a:visited{
				margin-left: 0;
				margin-right: 0;
			} // end of a
		}
	}
	// below is sidebar right  mode
	&.wrapkit-sidebar-right{

		.sidebar .sidebar-nav .nav li.nav-item,
		.sidebar .sidebar-nav .nav li.nav-item .nav-item-child > li,
		.sidebar .sidebar-nav .nav li.nav-item .nav-item-child > li .nav-item-child li{
			& > a,
			& > a.active,
			& > a:active,
			& > a:hover,
			& > a:focus,
			& > a:visited{
				margin-left: 0;
				margin-right: 0;
			} // end of a
		}
	} // end of right mode

} // end of sidebar (variant block)