// Sidebar
// size
$sidebar-width-lg: 230px !default;
$sidebar-width-md: 80px !default;
$sidebar-width-sm: 40px !default;
$sidebar-collapse-height: 340px !default;
$sidebar-height: 60px !default;
$sidebar-fontsize: 24px !default;

// Divider
$sidebar-divider-margin: 0 0;

// Sidebar actions
$sidebar-actions-margin: 0 0 0 0 !default;
$sidebar-actions-font-size: 17px !default;
$sidebar-actions-line-height: 18px !default;
$sidebar-actions-padding-base: 10px !default;
$sidebar-actions-padding-lg: 15px !default;


// Nav
$sidebar-nav-border-style: solid !default;
$sidebar-nav-border-width: 0 0 0 4px !default;
$sidebar-nav-border-width-rtl: 0 4px 0 0 !default;


// Nav Item
$sidebar-nav-item-padding-vertical: 10px !default;
$sidebar-nav-item-padding-horizontal: 15px !default;

$sidebar-nav-icon-size: $font-size-base !default;

$sidebar-nav-text-padding: 10px !default;
$sidebar-nav-text-size: $font-size-base !default;

// Nav Item Child
$nav-item-child-indent-base: 10px !default;
$nav-item-child-indent-level1: $nav-item-child-indent-base * 5 !default;
$nav-item-child-indent-level2: $nav-item-child-indent-base * 6 !default;
$nav-item-child-indent-level3: $nav-item-child-indent-base * 7 !default;
$nav-item-child-indent-level4: $nav-item-child-indent-base * 8 !default;

// ======================================================================

// Skin midwet (default)
// sidebar
$sidebar-bg: darken( $gray-darker, 10% ) !default;
$sidebar-color: $gray-light !default;
$sidebar-border-color: darken($sidebar-bg, 3%) !default;
// resizable handle
$sidebar-ui-resizable-handle: $sidebar-border-color !default;
// divider
$sidebar-divider-color: $sidebar-border-color !default;
$sidebar-divider-height: 4px;
// nav-header
$sidebar-nav-header-color: $gray !default;
// nav item
$sidebar-nav-item-bg: $sidebar-bg !default;
$sidebar-nav-item-bg-hover: darken($sidebar-bg, 3%) !default;
$sidebar-nav-item-bg-active: darken($sidebar-bg, 3%) !default;
$sidebar-nav-item-color: $gray-light !default;
$sidebar-nav-item-color-hover: $base-white !default;
$sidebar-nav-text-color: inherit !default;
$sidebar-nav-border-color: transparent !default;
$sidebar-nav-item-border-top: 1px solid lighten($sidebar-bg, 5%) !default;
$sidebar-nav-item-border-bottom: 1px solid darken($sidebar-bg, 5%) !default;
$sidebar-nav-item-border-right: 1px solid $sidebar-nav-item-bg !default;
$sidebar-nav-item-loader-bg: rgba( $base-white, .15 );
$sidebar-nav-icon-color: $gray !default;
// nav item child
$sidebar-nav-item-child-bg-hover: darken($sidebar-bg, 3%) !default;
$sidebar-nav-item-child-color-hover: $base-white !default;
$sidebar-nav-item-child-bg-active: darken($sidebar-bg, 3%) !default;


// Skin Whity
// sidebar
$sidebar-whity-bg: $base-white !default;
$sidebar-whity-color: $gray-dark !default;
$sidebar-whity-border-color: lighten( $sidebar-bg, 75% ) !default;
// resizable handle
$sidebar-whity-ui-resizable-handle: $sidebar-whity-border-color !default;
// divider
$sidebar-whity-divider-color: $sidebar-whity-border-color !default;
$sidebar-whity-divider-height: 1px !default;
// nav-header
$sidebar-whity-nav-header-color: $gray !default;
// nav item
$sidebar-whity-nav-item-bg: $sidebar-whity-bg !default;
$sidebar-whity-nav-item-bg-hover: lighten( $base-dark, 83% ) !default;
$sidebar-whity-nav-item-bg-active: lighten( $base-dark, 83% ) !default;
$sidebar-whity-nav-item-color: $gray-darker !default;
$sidebar-whity-nav-item-color-hover: $gray-dark !default;
$sidebar-whity-nav-text-color: inherit !default;
$sidebar-whity-nav-border-color: transparent !default;
$sidebar-whity-nav-item-border-top: 1px solid $base-white !default;
$sidebar-whity-nav-item-border-bottom: 1px solid lighten( $sidebar-bg, 75% ) !default;
$sidebar-whity-nav-item-border-right: 1px solid $base-white !default;
$sidebar-whity-nav-icon-color: $gray !default;
$sidebar-whity-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-whity-nav-item-child-bg-hover: lighten( $base-dark, 83% ) !default;
$sidebar-whity-nav-item-child-color-hover: $gray-dark !default;
$sidebar-whity-nav-item-child-bg-active: lighten( $base-dark, 83% ) !default;


// Skin Greentur
// sidebar
$sidebar-greentur-bg: darken( $base-teal, 10% ) !default;
$sidebar-greentur-color: $gray-lighter !default;
$sidebar-greentur-border-color: darken( $sidebar-greentur-bg, 3% ) !default;
// resizable handle
$sidebar-greentur-ui-resizable-handle: $sidebar-greentur-border-color !default;
// divider
$sidebar-greentur-divider-color: $sidebar-greentur-border-color !default;
$sidebar-greentur-divider-height: 0px;
// nav-header
$sidebar-greentur-nav-header-color: $gray-light !default;
// nav item
$sidebar-greentur-nav-item-bg: $sidebar-greentur-bg !default;
$sidebar-greentur-nav-item-bg-hover: darken( $sidebar-greentur-bg, 3% ) !default;
$sidebar-greentur-nav-item-bg-active: darken( $sidebar-greentur-bg, 3% ) !default;
$sidebar-greentur-nav-item-color: $gray-lighter !default;
$sidebar-greentur-nav-item-color-hover: $base-white !default;
$sidebar-greentur-nav-text-color: inherit !default;
$sidebar-greentur-nav-border-color: transparent !default;
$sidebar-greentur-nav-item-border-top: 1px solid lighten( $sidebar-greentur-bg, 3% ) !default;
$sidebar-greentur-nav-item-border-bottom: 1px solid darken( $sidebar-greentur-bg, 3% ) !default;
$sidebar-greentur-nav-item-border-right: 1px solid $sidebar-greentur-bg !default;
$sidebar-greentur-nav-icon-color: $gray-light !default;
$sidebar-greentur-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-greentur-nav-item-child-bg-hover: darken( $sidebar-greentur-bg, 3% ) !default;
$sidebar-greentur-nav-item-child-color-hover: $base-white !default;
$sidebar-greentur-nav-item-child-bg-active: darken( $sidebar-greentur-bg, 3% ) !default;


// Skin Nephem
// sidebar
$sidebar-nephem-bg: darken( $base-green, 10% ) !default;
$sidebar-nephem-color: $gray-lighter !default;
$sidebar-nephem-border-color: darken( $sidebar-nephem-bg, 3% ) !default;
// resizable handle
$sidebar-nephem-ui-resizable-handle: $sidebar-nephem-border-color !default;
// divider
$sidebar-nephem-divider-color: $sidebar-nephem-border-color !default;
$sidebar-nephem-divider-height: 0;
// nav-header
$sidebar-nephem-nav-header-color: $gray-light !default;
// nav item
$sidebar-nephem-nav-item-bg: $sidebar-nephem-bg !default;
$sidebar-nephem-nav-item-bg-hover: darken( $sidebar-nephem-bg, 3% ) !default;
$sidebar-nephem-nav-item-bg-active: darken( $sidebar-nephem-bg, 3% ) !default;
$sidebar-nephem-nav-item-color: $gray-lighter !default;
$sidebar-nephem-nav-item-color-hover: $base-white !default;
$sidebar-nephem-nav-text-color: inherit !default;
$sidebar-nephem-nav-border-color: transparent !default;
$sidebar-nephem-nav-item-border-top: 1px solid lighten( $sidebar-nephem-bg, 5% ) !default;
$sidebar-nephem-nav-item-border-bottom: 1px solid darken( $sidebar-nephem-bg, 5% ) !default;
$sidebar-nephem-nav-item-border-right: 1px solid $sidebar-nephem-bg !default;
$sidebar-nephem-nav-icon-color: $gray-light !default;
$sidebar-nephem-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-nephem-nav-item-child-bg-hover: darken( $sidebar-nephem-bg, 3% ) !default;
$sidebar-nephem-nav-item-child-color-hover: $base-white !default;
$sidebar-nephem-nav-item-child-bg-active: darken( $sidebar-nephem-bg, 3% ) !default;


// Skin Belpet
// sidebar
$sidebar-belpet-bg: darken( $base-blue, 10% ) !default;
$sidebar-belpet-color: $gray-lighter !default;
$sidebar-belpet-border-color: darken( $sidebar-belpet-bg, 3% ) !default;
// resizable handle
$sidebar-belpet-ui-resizable-handle: $sidebar-belpet-border-color !default;
// divider
$sidebar-belpet-divider-color: $sidebar-belpet-border-color !default;
$sidebar-belpet-divider-height: 0px;
// nav-header
$sidebar-belpet-nav-header-color: $gray-light !default;
// nav item
$sidebar-belpet-nav-item-bg: $sidebar-belpet-bg !default;
$sidebar-belpet-nav-item-bg-hover: darken( $sidebar-belpet-bg, 3% ) !default;
$sidebar-belpet-nav-item-bg-active: darken( $sidebar-belpet-bg, 3% ) !default;
$sidebar-belpet-nav-item-color: $gray-lighter !default;
$sidebar-belpet-nav-item-color-hover: $base-white !default;
$sidebar-belpet-nav-text-color: inherit !default;
$sidebar-belpet-nav-border-color: transparent !default;
$sidebar-belpet-nav-item-border-top: 1px solid lighten( $sidebar-belpet-bg, 5% ) !default;
$sidebar-belpet-nav-item-border-bottom: 1px solid darken( $sidebar-belpet-bg, 5% ) !default;
$sidebar-belpet-nav-item-border-right: 1px solid $sidebar-belpet-bg !default;
$sidebar-belpet-nav-icon-color: $gray-light !default;
$sidebar-belpet-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-belpet-nav-item-child-bg-hover: darken( $sidebar-belpet-bg, 3% ) !default;
$sidebar-belpet-nav-item-child-color-hover: $base-white !default;
$sidebar-belpet-nav-item-child-bg-active: darken( $sidebar-belpet-bg, 3% ) !default;


// Skin Wistam
// sidebar
$sidebar-wistam-bg: darken( $base-purple, 10% ) !default;
$sidebar-wistam-color: $gray-lighter !default;
$sidebar-wistam-border-color: darken( $sidebar-wistam-bg, 3% ) !default;
// resizable handle
$sidebar-wistam-ui-resizable-handle: $sidebar-wistam-border-color !default;
// divider
$sidebar-wistam-divider-color: $sidebar-wistam-border-color !default;
$sidebar-wistam-divider-height: 0px;
// nav-header
$sidebar-wistam-nav-header-color: $gray-light !default;
// nav item
$sidebar-wistam-nav-item-bg: $sidebar-wistam-bg !default;
$sidebar-wistam-nav-item-bg-hover: darken( $sidebar-wistam-bg, 3% ) !default;
$sidebar-wistam-nav-item-bg-active: darken( $sidebar-wistam-bg, 3% ) !default;
$sidebar-wistam-nav-item-color: $gray-lighter !default;
$sidebar-wistam-nav-item-color-hover: $base-white !default;
$sidebar-wistam-nav-text-color: inherit !default;
$sidebar-wistam-nav-border-color: transparent !default;
$sidebar-wistam-nav-item-border-top: 1px solid lighten( $sidebar-wistam-bg, 7% ) !default;
$sidebar-wistam-nav-item-border-bottom: 1px solid darken( $sidebar-wistam-bg, 7% ) !default;
$sidebar-wistam-nav-item-border-right: 1px solid $sidebar-wistam-bg !default;
$sidebar-wistam-nav-icon-color: $gray-light !default;
$sidebar-wistam-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-wistam-nav-item-child-bg-hover: darken( $sidebar-wistam-bg, 3% ) !default;
$sidebar-wistam-nav-item-child-color-hover: $base-white !default;
$sidebar-wistam-nav-item-child-bg-active: darken( $sidebar-wistam-bg, 3% ) !default;

// Skins #2 ==============================================================

// Skin Osun
// sidebar
$sidebar-osun-bg: darken( $base-yellow, 10% ) !default;
$sidebar-osun-color: $gray-lighter !default;
$sidebar-osun-border-color: darken( $sidebar-osun-bg, 3% ) !default;
// resizable handle
$sidebar-osun-ui-resizable-handle: $sidebar-osun-border-color !default;
// divider
$sidebar-osun-divider-color: $sidebar-osun-border-color !default;
$sidebar-osun-divider-height: 0px;
// nav-header
$sidebar-osun-nav-header-color: $gray-light !default;
// nav item
$sidebar-osun-nav-item-bg: $sidebar-osun-bg !default;
$sidebar-osun-nav-item-bg-hover: darken( $sidebar-osun-bg, 3% ) !default;
$sidebar-osun-nav-item-bg-active: darken( $sidebar-osun-bg, 3% ) !default;
$sidebar-osun-nav-item-color: $gray-lighter !default;
$sidebar-osun-nav-item-color-hover: $base-white !default;
$sidebar-osun-nav-text-color: inherit !default;
$sidebar-osun-nav-border-color: transparent !default;
$sidebar-osun-nav-item-border-top: 1px solid lighten( $sidebar-osun-bg, 5% ) !default;
$sidebar-osun-nav-item-border-bottom: 1px solid darken( $sidebar-osun-bg, 5% ) !default;
$sidebar-osun-nav-item-border-right: 1px solid $sidebar-osun-bg !default;
$sidebar-osun-nav-icon-color: $gray-light !default;
$sidebar-osun-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-osun-nav-item-child-bg-hover: darken( $sidebar-osun-bg, 3% ) !default;
$sidebar-osun-nav-item-child-color-hover: $base-white !default;
$sidebar-osun-nav-item-child-bg-active: darken( $sidebar-osun-bg, 3% ) !default;


// Skin Pumcar
// sidebar
$sidebar-pumcar-bg: darken( $base-orange, 10% ) !default;
$sidebar-pumcar-color: $gray-lighter !default;
$sidebar-pumcar-border-color: darken( $sidebar-pumcar-bg, 3% ) !default;
// resizable handle
$sidebar-pumcar-ui-resizable-handle: $sidebar-pumcar-border-color !default;
// divider
$sidebar-pumcar-divider-color: $sidebar-pumcar-border-color !default;
$sidebar-pumcar-divider-height: 0px;
// nav-header
$sidebar-pumcar-nav-header-color: $gray-light !default;
// nav item
$sidebar-pumcar-nav-item-bg: $sidebar-pumcar-bg !default;
$sidebar-pumcar-nav-item-bg-hover: darken( $sidebar-pumcar-bg, 3% ) !default;
$sidebar-pumcar-nav-item-bg-active: darken( $sidebar-pumcar-bg, 3% ) !default;
$sidebar-pumcar-nav-item-color: $gray-lighter !default;
$sidebar-pumcar-nav-item-color-hover: $base-white !default;
$sidebar-pumcar-nav-text-color: inherit !default;
$sidebar-pumcar-nav-border-color: transparent !default;
$sidebar-pumcar-nav-item-border-top: 1px solid  lighten( $sidebar-pumcar-bg, 5% ) !default;
$sidebar-pumcar-nav-item-border-bottom: 1px solid darken( $sidebar-pumcar-bg, 5% ) !default;
$sidebar-pumcar-nav-item-border-right: 1px solid $sidebar-pumcar-bg !default;
$sidebar-pumcar-nav-icon-color: $gray-light !default;
$sidebar-pumcar-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-pumcar-nav-item-child-bg-hover: darken( $sidebar-pumcar-bg, 3% ) !default;
$sidebar-pumcar-nav-item-child-color-hover: $base-white !default;
$sidebar-pumcar-nav-item-child-bg-active: darken( $sidebar-pumcar-bg, 3% ) !default;


// Skin Pomeal
// sidebar
$sidebar-pomeal-bg: darken( $base-red, 10% ) !default;
$sidebar-pomeal-color: $gray-lighter !default;
$sidebar-pomeal-border-color: darken( $sidebar-pomeal-bg, 3% ) !default;
// resizable handle
$sidebar-pomeal-ui-resizable-handle: $sidebar-pomeal-border-color !default;
// divider
$sidebar-pomeal-divider-color: $sidebar-pomeal-border-color !default;
$sidebar-pomeal-divider-height: 0px;
// nav-header
$sidebar-pomeal-nav-header-color: $gray-light !default;
// nav item
$sidebar-pomeal-nav-item-bg: $sidebar-pomeal-bg !default;
$sidebar-pomeal-nav-item-bg-hover: darken( $sidebar-pomeal-bg, 3% ) !default;
$sidebar-pomeal-nav-item-bg-active: darken( $sidebar-pomeal-bg, 3% ) !default;
$sidebar-pomeal-nav-item-color: $gray-lighter !default;
$sidebar-pomeal-nav-item-color-hover: $base-white !default;
$sidebar-pomeal-nav-text-color: inherit !default;
$sidebar-pomeal-nav-border-color: transparent !default;
$sidebar-pomeal-nav-item-border-top: 1px solid lighten( $sidebar-pomeal-bg, 5% ) !default;
$sidebar-pomeal-nav-item-border-bottom: 1px solid darken( $sidebar-pomeal-bg, 5% ) !default;
$sidebar-pomeal-nav-item-border-right: 1px solid $sidebar-pomeal-bg !default;
$sidebar-pomeal-nav-icon-color: $gray-light !default;
$sidebar-pomeal-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-pomeal-nav-item-child-bg-hover: darken( $sidebar-pomeal-bg, 3% ) !default;
$sidebar-pomeal-nav-item-child-color-hover: $base-white !default;
$sidebar-pomeal-nav-item-child-bg-active: darken( $sidebar-pomeal-bg, 3% ) !default;


// Skin Silc
// sidebar
$sidebar-silc-bg: darken( $base-white, 10% ) !default;
$sidebar-silc-color: $gray-darker !default;
$sidebar-silc-border-color: darken( $sidebar-silc-bg, 3% ) !default;
// resizable handle
$sidebar-silc-ui-resizable-handle: $sidebar-silc-border-color !default;
// divider
$sidebar-silc-divider-color: $sidebar-silc-border-color !default;
$sidebar-silc-divider-height: 0px;
// nav-header
$sidebar-silc-nav-header-color: $gray-dark !default;
// nav item
$sidebar-silc-nav-item-bg: $sidebar-silc-bg !default;
$sidebar-silc-nav-item-bg-hover: darken( $sidebar-silc-bg, 3% ) !default;
$sidebar-silc-nav-item-bg-active: darken( $sidebar-silc-bg, 3% ) !default;
$sidebar-silc-nav-item-color: $gray-dark !default;
$sidebar-silc-nav-item-color-hover: $gray-darker !default;
$sidebar-silc-nav-text-color: inherit !default;
$sidebar-silc-nav-border-color: transparent !default;
$sidebar-silc-nav-item-border-top: 1px solid lighten( $sidebar-silc-bg, 5% ) !default;
$sidebar-silc-nav-item-border-bottom: 1px solid darken( $sidebar-silc-bg, 5% ) !default;
$sidebar-silc-nav-item-border-right: 1px solid $sidebar-silc-bg !default;
$sidebar-silc-nav-icon-color: $gray !default;
$sidebar-silc-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-silc-nav-item-child-bg-hover: darken( $sidebar-silc-bg, 3% ) !default;
$sidebar-silc-nav-item-child-color-hover: $gray-darker !default;
$sidebar-silc-nav-item-child-bg-active: darken( $sidebar-silc-bg, 3% ) !default;


// Skin Ascon
// sidebar
$sidebar-ascon-bg: darken( $gray, 20% ) !default;
$sidebar-ascon-color: $gray-lighter !default;
$sidebar-ascon-border-color: darken( $sidebar-ascon-bg, 3% ) !default;
// resizable handle
$sidebar-ascon-ui-resizable-handle: $sidebar-ascon-border-color !default;
// divider
$sidebar-ascon-divider-color: $sidebar-ascon-border-color !default;
$sidebar-ascon-divider-height: 0px;
// nav-header
$sidebar-ascon-nav-header-color: $gray-light !default;
// nav item
$sidebar-ascon-nav-item-bg: $sidebar-ascon-bg !default;
$sidebar-ascon-nav-item-bg-hover: darken( $sidebar-ascon-bg, 3% ) !default;
$sidebar-ascon-nav-item-bg-active: darken( $sidebar-ascon-bg, 3% ) !default;
$sidebar-ascon-nav-item-color: $gray-lighter !default;
$sidebar-ascon-nav-item-color-hover: $base-white !default;
$sidebar-ascon-nav-text-color: inherit !default;
$sidebar-ascon-nav-border-color: transparent !default;
$sidebar-ascon-nav-item-border-top: 1px solid lighten( $sidebar-ascon-bg, 5% ) !default;
$sidebar-ascon-nav-item-border-bottom: 1px solid darken( $sidebar-ascon-bg, 5% ) !default;
$sidebar-ascon-nav-item-border-right: 1px solid $sidebar-ascon-bg !default;
$sidebar-ascon-nav-icon-color: $gray-light !default;
$sidebar-ascon-nav-item-loader-bg: rgba( $gray-lighter, .15 );
// nav item child
$sidebar-ascon-nav-item-child-bg-hover: darken( $sidebar-ascon-bg, 3% ) !default;
$sidebar-ascon-nav-item-child-color-hover: $base-white !default;
$sidebar-ascon-nav-item-child-bg-active: darken( $sidebar-ascon-bg, 3% ) !default;



// ======================================================================

// contextual colors
// white
$sidebar-context-white-color: $base-dark !default;
$sidebar-context-white-bg: $base-white !default;
$sidebar-context-white-border: $base-white !default;
// cloud
$sidebar-context-cloud-color: $base-dark !default;
$sidebar-context-cloud-bg: lighten( $base-cloud, 5% ) !default;
$sidebar-context-cloud-border: lighten( $base-cloud, 5% ) !default;
// gray
$sidebar-context-gray-color: $base-white !default;
$sidebar-context-gray-bg: lighten( $base-gray, 5% ) !default;
$sidebar-context-gray-border: lighten( $base-gray, 5% ) !default;
// dark
$sidebar-context-dark-color: $base-white !default;
$sidebar-context-dark-bg: lighten( $base-dark, 5% ) !default;
$sidebar-context-dark-border: lighten( $base-dark, 5% ) !default;
// teal
$sidebar-context-teal-color: $base-white !default;
$sidebar-context-teal-bg: darken( $base-teal, 5% ) !default;
$sidebar-context-teal-border: darken( $base-teal, 5% ) !default;
// green
$sidebar-context-green-color: $base-white !default;
$sidebar-context-green-bg: darken( $base-green, 2% ) !default;
$sidebar-context-green-border: darken( $base-green, 2% ) !default;
// blue (default)
$sidebar-context-color: $base-white !default;
$sidebar-context-bg: darken( $base-blue, 10% ) !default;
$sidebar-context-border: darken( $base-blue, 10% ) !default;
// sky
$sidebar-context-sky-color: $base-white !default;
$sidebar-context-sky-bg: lighten( $base-blue, 15% ) !default;
$sidebar-context-sky-border: lighten( $base-blue, 15% ) !default;
// purple
$sidebar-context-purple-color: $base-white !default;
$sidebar-context-purple-bg: lighten( $base-purple, 3% ) !default;
$sidebar-context-purple-border: lighten( $base-purple, 3% ) !default;
// yellow
$sidebar-context-yellow-color: $base-white !default;
$sidebar-context-yellow-bg: lighten( $base-yellow, 3% ) !default;
$sidebar-context-yellow-border: lighten( $base-yellow, 3% ) !default;
// orange
$sidebar-context-orange-color: $base-white !default;
$sidebar-context-orange-bg: lighten( $base-orange, 3% ) !default;
$sidebar-context-orange-border: lighten( $base-orange, 3% ) !default;
// red
$sidebar-context-red-color: $base-white !default;
$sidebar-context-red-bg: lighten( $base-red, 5% ) !default;
$sidebar-context-red-border: lighten( $base-red, 5% ) !default;