.signin-wrapper{
	position: relative;
	margin: 60px auto 5px;
	padding: 20px;
	width: 420px;
	background-color: #fff;
	
	.signin-brand{
		margin: 20px 0 40px;
		text-align: center;
		font-size: 34px;
	}
}
.signin-alt{
	margin-bottom: 20px;
}

.signin-cr{
	margin: 0 0 20px;
	text-align: center;
	color: $gray-lighter;
}

@media (max-width: $screen-sm){
	.signin-wrapper{
		width: 90%;
	}
}