- unless logged_in?
  %section

    %h1 What is bitcoin?

    Bitcoin video.


    %h1 What is an exchange?

    An exchange is a place where you can buy/sell bitcoins.


    %h1 You can Buy / Sell bitcoins

    BitcoinExchange is exchange made easy, this project is open source.


  %a{ href: "/login" } Login
  or
  %a{ href: "/register" } Register


- else
  .line
    .line-max-medium
      .line-compress.bg-green.color-white.bg-pattern1
        .separator10
        .col3x3
          %h1 Dashboard
        .col3x3.right-content
          .separator3
          .separator2
          %h2
            %i.fa.fa-money.color-darkgreen
            %span Account value: €#{cur_user_balance.account_value}
        .col3x3.right-content
          .separator3
          .separator1
          %h2
            %i.fa.fa-bar-chart-o.color-darkgreen
            Balance:
            = haml :"_balance"
        .separator10
  .line
    .line-max-medium.bg-white
      .separator10
      .line-compress
        DASHBOARD CONTENT
      .separator10