- unless logged_in?
  %section

    %h1 What is bitcoin?

    Bitcoin video.


    %h1 What is an exchange?

    An exchange is a place where you can buy/sell bitcoins.


    %h1 You can Buy / Sell bitcoins

    BitcoinExchange is exchange made easy, this project is open source.


  %a{ href: "/login" } Login
  or
  %a{ href: "/register" } Register


- else
  .col8.offset-left1
    .line-compress.bg-green.color-white
      .separator5
      .col3x3
        %h1 Dashboard
      .col3x3.center-content
        .separator3
        .separator1
        %h2
          %i.fa.fa-bitcoin
          Total account #{cur_user_balance.btc_eur}
      .col3x3.center-content
        .separator3
        .separator1
        %h2
          %i.fa.fa-bar-chart-o
          Balance = haml :"_balance"
      .separator5