.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

path.candle {
  stroke: #000000; }

path.candle.body {
  stroke-width: 0; }

path.candle.wick {
  stroke-width: 1; }

path.candle.up {
  fill: #00AA00;
  stroke: #00AA00; }

path.candle.down {
  fill: #FF0000;
  stroke: #FF0000; }

#chart {
  width: 100%;
  height: 500px; }

#chart_price, #chart_price_bitstamp {
  width: 100%;
  height: 500px; }
  #chart_price .axis path, #chart_price .axis line, #chart_price_bitstamp .axis path, #chart_price_bitstamp .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  #chart_price .x.axis path, #chart_price_bitstamp .x.axis path {
    display: none; }
  #chart_price .line, #chart_price_bitstamp .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px; }

#chart_orderbook {
  width: 100%;
  height: 500px; }
  #chart_orderbook .axis path, #chart_orderbook .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  #chart_orderbook .x.axis path {
    display: none; }
  #chart_orderbook .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px; }
