.line, section.main > h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left; }

.color-white, section.main > h1 {
  color: #fff; }

.bg-white, section.paged {
  background-color: #fff; }

.line-compress, section.paged, section.main > h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  clear: right;
  padding: 0 2% 0 2%; }

.bg-green, section.main > h1 {
  background-color: #1FD65C; }

.bg-pattern1, section.main > h1 {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFUlEQVQYlWNgwANEjqf/HwmSDAwMAEQrEgmpQ8hgAAAAAElFTkSuQmCC");
    background-image-background-repeat: repeat; }

.vpadding_5, section.paged, section.main > h1 {
  padding-top: 5px;
  padding-bottom: 5px; }

table {
  margin-top: 5px;
  float: left;
  border-collapse: collapse; }
  table th {
    background: #EEE;
    padding: 4px;
    font-size: 85%; }
  table td, table th {
    border: 1px solid #CCC;
    padding: 6px; }
  table td {
    font-size: 93%; }
  table td.buy {
    border-bottom: 2px solid #8ec919; }
  table td.sell {
    border-bottom: 2px solid #ec268f; }

.user_details input {
  color: #DDD; }

.flashes .flash {
  text-align: center;
  padding: 8px;
  background: #fff; }
  .flashes .flash.success {
    background: #3EDE73;
    color: #fff; }
  .flashes .flash.notice {
    background: #F5E77A;
    color: #915500; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

path.candle {
  stroke: #000000; }

path.candle.body {
  stroke-width: 0; }

path.candle.wick {
  stroke-width: 1; }

path.candle.up {
  fill: #00AA00;
  stroke: #00AA00; }

path.candle.down {
  fill: #FF0000;
  stroke: #FF0000; }

#chart {
  width: 100%;
  height: 500px; }

#chart_price, #chart_price_bitstamp {
  width: 100%;
  height: 500px; }
  #chart_price .axis path, #chart_price .axis line, #chart_price_bitstamp .axis path, #chart_price_bitstamp .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  #chart_price .x.axis path, #chart_price_bitstamp .x.axis path {
    display: none; }
  #chart_price .line, #chart_price section.main > h1, #chart_price_bitstamp .line, #chart_price_bitstamp section.main > h1 {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px; }

#chart_orderbook {
  width: 100%;
  height: 500px; }
  #chart_orderbook .axis path, #chart_orderbook .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  #chart_orderbook .x.axis path {
    display: none; }
  #chart_orderbook .line, #chart_orderbook section.main > h1 {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px; }
