/* main */
body, html {
  background:#EFF0F1;
}
h1{
  font-size: 19.5px;
}
h2{
  font-size:17px;
}
h3{
  font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
  font-family:'Roboto', Arial;
  font-weight:normal;
}
input,textarea{
  font-family:Arial;
}
/*placeholders*/
::-webkit-input-placeholder {
   color: rgba(0,0,0,0.4);
   font-weight:500;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.45);
   font-weight:500;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.45);
   font-weight:500;
}
:-ms-input-placeholder {
   color: rgba(0,0,0,0.45);
   font-weight:500;
}
a{
  font-size: inherit;
}
i {
  font-size: inherit;
}
.clear {
  clear: both;
}
.aright {
  text-align: right;
}
.hidden {
  display: none;
}

.current {
  background: #3EDE73;
  color: white;
}
.deposits .tab, .withdrawals .tab {
  margin-top: 20px;
  display: inline-block;
}
.deposits .tab h1 a, .withdrawals .tab h1 a {
  border: 1px solid green;
  padding: 6px 10px;
}
.deposits .tab, .withdrawals .tab {
  margin-top: 20px;
  display: inline-block;
}
.deposits .tab h1 a, .withdrawals .tab h1 a {
  border: 1px solid green;
  padding: 6px 10px;
}

/*Extras*/
input[type="text"], input[type="password"] {
  background: none;
  border:none;
  box-shadow:0px 0px 0px 1px #ddd;
  height:30px;
  padding:0 2%;
  border-radius:2px;
}
.logo, .logo a {
  font-size:20px;
  color:#999;
  text-indent:5px;
}
.navbar {
  font-family:'Roboto';
  overflow:hidden;
  letter-spacing:0.5px;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWPYv3//fwaiAE6VAB9vBnkbWtZwAAAAAElFTkSuQmCC');
  background-repeat: repeat;
  -webkit-box-shadow:0px -100px 200px #fff inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow:0px -100px 200px #fff inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  box-shadow:0px -100px 200px #fff inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  max-height: 63px;
}
.navbar nav a {
  padding:22px 0;
  min-width: 50px;
  font-size:15px;
  color:inherit;
  font-weight: medium;
}
.navbar nav a:hover {
  background:rgba(0,0,0,0.03);
}
.navbar nav a.active, .navbar nav a.active:hover {
  color:#3EDE73;
  background:none;
}
.navbar-mobile-menu {
  max-width: 300px;
  float:none;
}
.navbar-mobile-menu a {
  font-size: 18px;
  padding:10px 15px;
}
.navbar-mobile-menu a.active {
  color:#3EDE73;
}
.navbar-dropdown{
  min-width: 200px;
  float: none;
  background: rgba(0,0,0,0.7);
  margin-top:62px;
}
.table-row{
  border:1px solid #E9FBF0;
  border-top:0;
  border-bottom:0;
}
/*Colors*/
.color-green {
  color:#0DD048;
}
.color-lightgreen{
  color:#3EDE73;
}
.color-darkgreen {
  color:green;
}
.color-bitcoin{
  color: #F7931A;
}
.color-skype {
  color:#09B1EF;
}
/*Backgrounds*/
.bg-highlight{
  background-color: #E7E9EB;
}
.bg-bitcoin {
  background-color: #F7931A;
}
.bg-pattern1 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFUlEQVQYlWNgwANEjqf/HwmSDAwMAEQrEgmpQ8hgAAAAAElFTkSuQmCC');
  background-repeat:repeat;
}
.bg-darkgreen{
  background-color:#12A176;
}
.bg-green {
  background-color:#1FD65C;
}
.bg-lightgreen {
  background-color: #27EE63;
}
.bg-greeny{
  background-color: #E9FBF0;
}
/*Layout*/
.line-max {
  max-width: 980px;
  float:none;
}
.line-max-medium {
  max-width: 950px;
  float:none;
}
.col3x3 {
  float: left;
  vertical-align: top;
}
.col3x3 {
  width:33.32222222%;
}
/*Utils*/
.radius5-top{
  -webkit-border-radius:5px 5px 0 0 ;
  -moz-border-radius:5px 5px 0 0 ;
  border-radius:5px 5px 0 0 ;
}
.link{
  color:#3EDE73;
  }.link:hover,.link:focus{
    color:green;
  }
  .separator1 {
    min-height:1px;
    clear:both;
    float:none;
    width:100%;
  }
  .separator2 {
    min-height:2px;
    clear:both;
    float:none;
    width:100%;
  }
  .bordered-right {
    box-shadow:1px 0 0 0 #E5E5E5;
  }
  .font-x-large {
    font-size:26px;
  }
  .font-small{
    font-size: 11px;
  }
  .font-xx-large {
    font-size:32px;
  }
  /*Buttons*/

  .btn {
    font-size:15px;
    border-radius:2px;
  }
  .btn:hover{
    box-shadow:none;
    opacity:0.9;
  }
  .btn:focus {
    box-shadow:0px 0px 3px 0px rgba(0,0,0,0.3) inset;
    opacity:1;
  }
  .btn-navbar, .btn-navbar:hover, .btn-navbar:focus {
    background: #222;
    color:white;
    font-size: 17px;
    line-height: 63px;
    float:right;
  }
  .btn-primary {
    background-color: #1FD65C;
  }
  .order_row .row, .order_row form, .order_row form button {
    display: inline-block;
  }