/* fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/open_sans_light.woff) format('woff');
}
/* main */

*{
  font-family:"Gill Sans", 'Open Sans', Arial;
  font-weight:300;
}
body,html {
  background:#F4F6F6;
}
i{
  font-size: inherit;
}
a{
  color:green;
}
.right {
  float: right; }

.clear {
  clear: both; }

.aright {
  text-align: right; }

.hidden {
  display: none; }

.relative {
  position: relative; }

.inline {
  display: inline-block; }
/*
.content > section {
  margin-bottom: 24px; }

.content > section > section {
  margin-bottom: 12px; }*/
/*
nav a {
  font-weight: bold;
  display: inline-block; }*/
/*
#main > header > h1 a {
  color: #004d00; }
*/
/*
.btn, .button, input[type=submit] {
  padding: 2.4px 7.05882px;
  line-height: 180%; }

.btn, .button, nav a, input[type=submit] {
  border-radius: 7px;
  background: lightgreen;
  border: 1px solid lightgreen; }
  .btn:hover, .button:hover, nav a:hover, input[type=submit]:hover {
    border: 1px solid green; }
    */

.current {
  background: green;
  color: white; }
/*
input {
  display: block;
  margin-bottom: 12px; }*/

.advanced > section {
  border: 1px solid darkgray;
  padding: 1%;
  display: inline-block; }
/*
#main > header > nav {
  margin-bottom: 20px; }*/
/*
section > h1 {
  margin-bottom: 6px; }*/

input.btc_address {
  width: 340px;
  padding: 3px 5px;
  font-size: 100%;
  text-align: center; }

.block {
  display: inline-block;
  margin-bottom: 10px; }

.abso {
  position: absolute;
  right: 6%;
  top: 2px; }

.deposits .tab, .withdrawals .tab {
  margin-top: 20px;
  display: inline-block; }
  .deposits .tab h1 a, .withdrawals .tab h1 a {
    border: 1px solid green;
    padding: 6px 10px; }

.deposits .tab, .withdrawals .tab {
  margin-top: 20px;
  display: inline-block; }
  .deposits .tab h1 a, .withdrawals .tab h1 a {
    border: 1px solid green;
    padding: 6px 10px; }
/*
section.tabbed nav {
  margin-top: 10px; }
section.tabbed nav a {
  border: 1px solid green;
  padding: 6px 1.2%;
  background: white;
  border-radius: 0;
  position: relative;
  bottom: -1px; }
section.tabbed > section {
  border: 1px solid green;
  padding: 1.2%; }
section.tabbed nav a.current {
  background: green; }
section.tabbed > section {
  width: 70%; }
*/


/*Extras*/
.logo, .logo a{
  font-size:20px;
  padding:18px 0;
  color:#999;
  text-indent:5px;
}
.navbar{
   overflow:hidden;
     background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWPYv3//fwaiAE6VAB9vBnkbWtZwAAAAAElFTkSuQmCC');
  background-repeat: repeat;
  -webkit-box-shadow:0px -100px 200px #fff inset, 0px 0px 0px 1px rgba(0,0,0,0.08);
  -moz-box-shadow:0px -100px 200px #fff inset, 0px 0px 0px 1px rgba(0,0,0,0.08);
  box-shadow:0px -100px 200px #fff inset, 0px 0px 0px 1px rgba(0,0,0,0.08);
  max-height: 63px;
}
.navbar nav a{
  padding:20px 0;
  min-width: 50px;
  font-size:17px;
  color:inherit;
}
.navbar nav a:hover{
  background:#f4f6f6;
}
.navbar nav a.active,.navbar nav a.active:hover{
  color:#0DD048;
  background:none;
}
/*Colors*/
.color-green{
  color:#0DD048;
}
.color-darkgreen{
  color:green;
}
.color-skype{
  color:#09B1EF;
}
/*Backgrounds*/
.bg-bitcoin{
  background-color: #F7931A;
}
.bg-pattern1{
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFUlEQVQYlWNgwANEjqf/HwmSDAwMAEQrEgmpQ8hgAAAAAElFTkSuQmCC');
background-repeat:repeat;
}
.bg-green{
  background-color:#1FD65C;
}
.bg-lightgreen{
  background-color: #27EE63;
}
/*Layout*/
.line-max{
  max-width: 980px;
  float:none;
}
.line-max-medium{
  max-width: 950px;
  float:none;
}
.col3x3{
  float: left;
  vertical-align: top;
}
.col3x3 {
  width:33.32222222%;
}
/*Utils*/
.separator1 {
    min-height:1px;
    clear:both;
    float:none;
    width:100%;
}.separator2 {
    min-height:2px;
    clear:both;
    float:none;
    width:100%;
}
.bordered-right {
  box-shadow:1px 0 0 0 #E5E5E5;
}
.font-x-large{
  font-size:30px;
}
/*Buttons*/
.btn{
  font-size:15px;
}
.btn:focus{
  box-shadow:none;
}
.btn-navbar,.btn-navbar:hover,.btn-navbar:focus{
  background: #222;
  color:white;
  font-size: 17px;
  line-height: 63px;
}

