.overlay.overlay-dark.layer2.overlay_section.hidden
  .line-compress
    .separator50
    .separator30
    .col4.offset-left3.line-tablet.bg-white.bordered.overlay-content.radius3
      .line-compress.new_deposit.tabbed
        %h1
        .hr
        .separator10
        %nav.line
          .col5
            .line-compress
              %button.btn.btn-medium.btn-primary.color-white.radius3{ href: js_void }
                €
                %br
                Deposit EURO
          .col5
            .line-compress
              %button.btn.btn-medium.radius3{ href: js_void }
                .fa.fa-bitcoin
                %br
                Deposit Bitcoin
          .separator10

        %section.line-compress
          :markedup
            To deposit EUR you have to make a SEPA wire tansfer, these are the details:
            ---
            Bank of XXXX - City, Country
            IBAN:
            ABI/CAB/SWIFT?
            etc...
            ---
            ---
            debug:
            ---
          %a{ href: "/deposits/add" } fake new deposit
          (the deposit has to be accepted by admin / banking assistant)
          / TODO: start admin app

        %section.line-compress.hidden
          - if CURRENT_ADDRESS
            :markedup
              Deposit to this address:
            %input.btc_address{ type: "text", disabled: true, value: CURRENT_ADDRESS }
          - else
            %form{ action: "/users/generate_address", method: :post }
              - submit "Generate address"
            todo: add ajax
        .separator30


.line-max-medium
  .line.bg-green.color-white.bg-pattern1
    .col7
      .separator10
      .line-compress
        %h1 Deposits
      .separator10

    .col3
      .right-content
        %button.btn.bg-lightgreen.font-medium.color-muted.no-padding{ data: { toggle: "overlay_section" } }
          .separator15
          .separator2
          %i.fa.fa-plus
          Deposit funds
          .separator15

.line-max-medium.bg-white
  .separator10


  .line-compress
    %h1 Deposits
    There are no deposits.
  .separator10
