%section
  %h1 Deposits

  [deposits]


%nav
  %a{ href: js_void, data: { toggle: "new_deposit" } } New deposit

%section.tabbed.new_deposit.hidden
  %nav
    %a{ href: js_void } EUR
    %a{ href: js_void } BTC

  %section.hidden
    :markedup
      To deposit EUR you have to make a SEPA wire tansfer, these are the details:
      ---
      Bank of XXXX - City, Country
      IBAN:
      ABI/CAB/SWIFT?
      etc...
      ---
      ---
      debug:
      ---
    %a{ href: "/deposits/add" } fake new deposit
    (accepted by the)



  %section.hidden
    - if CURRENT_ADDRESS
      :markedup
        Deposit to this address:
      %input.btc_address{ type: "text", disabled: true, value: CURRENT_ADDRESS }
    - else
      %form{ action: "/users/generate_address", method: :post }
        - submit "Generate address"
      todo: add ajax