%section
  %h1 Deposits

  [deposits]


%nav
  %a{ href: js_void, data: { toggle: "new_deposit" } } New deposit

%section.new_deposit.hidden
  .tab
    %h1 EUR

  .tab
    %h1 BTC

    -# %input{ type: "text", value: "0 btc" }

    - if CURRENT_ADDRESS
      :markedup
        Deposit to this address:
      %input.btc_address{ type: "text", disabled: true, value: CURRENT_ADDRESS }
    - else
      %form{ action: "/users/generate_address", method: :post }
        - submit "Generate address"