$email-lists-width: 360px !default;


.email-wrapper{
	position: relative;
	@include clearfix();
}



// email compose
.email-compose{
	padding: 15px;
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: $border-radius-base;
}



// email lists
.email-lists{
	position: relative;
	margin: (-$content-padding-vertical*1.5) (-$content-padding-horizontal*1.5);
	width: $email-lists-width;
	border-right: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	z-index: 1;

	> .email-form{
		padding: 15px;
		background-color: lighten( $gray-lighter, 5% );
		border-bottom: 1px solid $border-color;
	}

	> .email-toolbar{
		padding: 0 4px;
		background-color: #fff;
		border-bottom: 1px solid $border-color;

		.dropdown{
			display: inline-block;
		}
		.email-btn{
			display: inline-block;
			background-color: #fff;
			padding: $padding-base-vertical $padding-base-horizontal;
			color: $text-color;
			text-decoration: none;
			border: none;
			border-right: 1px solid $border-color;
			box-shadow: none;
			outline: 0;

			&.disabled{
				cursor: not-allowed;
			    pointer-events: none; // Future-proof disabling of clicks
			    @include opacity(.65);
			}

			// nice-checkbox
			> .nice-checkbox,
			> .nice-radio{
				display: inline-block;
				margin: 0;
				left: 3px;
				min-height: 18px;

				> label{
					position: static !important;
					&:before{
						top: 0;
					}
				}
			}
		}
	}
	
	.email-group{
		position: relative;
		padding-left: 1px;
		height: $layout-min-height;
		max-height: $layout-min-height;
		background-color: #fff;
		overflow: auto;
	}

	.email-item{
		display: block;
		position: relative;
		padding: 15px 15px 15px ($grid-gutter-width + 15);
		background-color: #fff;
		border-bottom: 1px solid $border-color;
		border-left: 3px solid transparent;
		color: $text-color;
		text-decoration: none;
		cursor: pointer;

		&.active,
		&:hover{
			border-left-color: $base-blue;
		}
		&.selected{
			background-color: $state-warning-bg !important;
		}
	}

	.email-sender,
	.email-subject,
	.email-content{
		> .pull-left{
			margin-left: -($grid-gutter-width);
		}
		.nice-checkbox,
		.nice-radio{
			display: inline-block;
			margin: 0;

			> label{
				position: static !important;
				&:before{
					top: 0;
				}
			}
		}
	}
	.email-sender > p{
		margin-right: 5px;
		@include text-overflow();
	}
	.email-subject > p{
		margin-right: 5px;
		@include text-overflow();
	}
	.email-attach{
		font-size: $font-size-small;
		line-height: $line-height-base;
		color: $text-muted;
		text-decoration: none;
		margin: 0 5px !important;
	}
	.email-time{
		font-size: $font-size-small;
		line-height: $line-height-base;
	}

	.email-item.unread{
		font-weight: bold;
		background-color: lighten( $gray-lighter, 5% );
	}
} // end .email-lists

.email-star{
	display: inline-block;
	padding: 0;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-muted;
	text-decoration: none;
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;

	&:before{
		content: '\f006';
	}
	&:hover{
		color: darken( $text-muted, 10% );
	}
}

.email-item.stared{
	.email-star{
		color: darken( $base-yellow, 10% );
		&:before{
			content: '\f005';
		}
		&:hover{
			color: $base-yellow;
		}
	}
}




.email-preview{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: $email-lists-width;
} // end .email-preview
.ep-header{
	padding: 15px;
	background-color: lighten( $gray-lighter, 5% );
	border-bottom: 1px solid $border-color;

	> .ep-title{
		margin: 0;
		padding: 0 10px;
		font-size: 18px;
		line-height: $input-height-base;
		font-weight: normal;
		@include text-overflow();
		// > small{
		// 	display: block;
		// 	line-height: 1.4;
		// }
	}
}
.ep-star{
	@extend .email-star;
	line-height: $input-height-base;
	margin: 0 5px;
	&:hover{
		text-decoration: none;
	}

	&.half,
	&.stared{
		color: darken( $base-yellow, 10% );
		&:before{
			content: '\f005';
		}
		&:hover{
			color: $base-yellow;
		}
	}
	&.half{
		&:before{
			content: '\f123';
		}
	}
}
.ep-actions{
	color: $text-muted;

	> .fa,
	> .glyphicon{
		position: relative;
		top: 5px;
	}

	&:hover,
	&:focus,
	&.open,
	&.active{
		text-decoration: none;
		.kit-avatar{
			border-color: darken( $border-color, 15% );
		}
	}
}
.ep-time{
	margin-left: 15px;
	line-height: $line-height-base;
	color: $text-muted;
	font-size: $font-size-small;
}
.ep-lists{
	position: absolute;
	top: 65px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	overflow: auto;
}
.ep-item{
	margin-bottom: 10px;
	padding: $padding-base-vertical $padding-base-horizontal;
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: $border-color;
}
.ep-item-collapse{
	margin-bottom: 0;
}
.ep-item-collapse + .ep-item-collapse{
	margin-top: -1px;
}
.ep-item-collapse + .ep-item:not(.ep-item-collapse){
	margin-top: 10px;
}

.ep-item-header{
	margin-bottom: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid $border-color;
	cursor: pointer;
	@include clearfix();
}
.ep-item-sender{
	margin: 0;
	padding: 0 10px;
	font-weight: bold;
	font-size: $font-size-base;
	line-height: $input-height-base;
	@include text-overflow();

	> small{
		display: block;
		font-size: $font-size-small;
	}

	.ep-content-snipped{
		display: none;
		padding: 0 10px;
		color: $text-muted;
		font-weight: normal;
	}
}

.ep-item-content{
	position: relative;
	display: block;
}

.ep-item-collapse{
	.ep-item-header{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.ep-content-snipped{
		display: inline-block;
	}
	.ep-item-content{
		display: none;
	}

	&:last-child{
		margin-bottom: 10px;
	}

	+ .ep-form{
		margin-top: 10px;
	}
}

.ep-form{
	position: relative;
	min-height: $input-height-base;
	&:not(.mode-edit){
		cursor: pointer;
	}

	.ep-form-heading{
		position: relative;
		border-bottom: 1px solid $border-color;

		.form-group{
			margin: 10px 15px;
			border-bottom: 1px solid $border-color;
		}
		.input-group,
		.input-group.focus{
			border: none !important;
			border-radius: 0;
		}
		.form-control{
			border-width: 0 0 1px;
			border-radius: 0;
		}
	}
	.ep-form-placeholder{
		color: $text-muted;
	}
	.panel{
		border-radius: 0;
	}
}

.back-to-email-lists{
	float: left;
	color: $text-muted;
	text-decoration: none;
	line-height: $input-height-base;
	padding: 0 5px;
}

// rtl mode
.wrapkit-content-rtl{
	.email-lists{
		border-right: none;
		border-left: 1px solid $border-color;
		
		.email-group{
			padding-left: 0;
			padding-right: 1px;
		}
		.email-toolbar .email-btn{
			border-right: none;
			border-left: 1px solid $border-color;

			> .nice-checkbox,
			> .nice-radio{
				left: 6px;
			}
		}
		.email-item{
			padding-right: ($grid-gutter-width + 15);
			padding-left: 15px;
		}
		.email-sender,
		.email-subject,
		.email-content{
			> .pull-left{
				margin-left: 0;
			}
			> .pull-right{
				margin-right: -($grid-gutter-width);
			}
			.nice-checkbox,
			.nice-radio{
				left: 6px;
			}
		}
	}


	// email-preview
	.email-preview{
		right: $email-lists-width;
		left: 0;
	} // end .email-preview
}

// screen md max
@media (max-width: $screen-md-max) {
	.email-wrapper{
		padding: 0 !important;
		min-height: $layout-min-height;
	}
	
	.email-compose{
		margin: ($content-padding-vertical*1.5) ($content-padding-horizontal*1.5);
	}

	.email-lists{
		display: none;
		margin: 0;
		width: 100%;
		border-right: none !important;
		border-left: none !important;
	}
	
	.email-preview{
		display: none;
		right: 0 !important;
		left: 0 !important;
	}

	.email-lists.active,
	.email-preview.active{
		display: block;
	}
}

// screen xs
@media (max-width: $screen-xs-max) {
	.email-wrapper{
		padding: 0 !important;
	}
	.email-lists{
		margin: 0;

		.email-group{
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}
}