.error-wrapper{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@include gradient-vertical( $gray-lighter, $gray-light, 0, 100% );
	> .error-container{
		border: none;
	}
}
.error-container{
	position: relative;
	margin: 60px auto;
	max-width: 60%;
	padding: 20px;
	border: 1px solid $border-color;
	background-color: #fff;
	@include box-shadow( 8px 8px 0 rgba(#000, .1) );
}
.error-code{
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 4px;
	cursor: default;
	@include opacity(.1);
	@include user-select(none);
}
@media (max-width: $screen-sm){
	.error-container{
		max-width: 90%;
	}
}