.help-wrapper{
	padding: 40px;
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: $border-radius-base;

	a:hover{
		text-decoration: none;
	}

	.topic-title{
		margin: 0 0 5px;
		font-weight: bold;
	}
	.topic-resume{
		color: $text-muted;
		font-size: $font-size-small;
		font-weight: bold;

		a{
			color: $text-muted;
			&:hover{
				color: darken( $text-muted, 15% );
			}
		}
	}

	.topic-lists{
		margin-bottom: 40px;

		> li{
			padding: $padding-base-vertical 0;
			border-bottom: 1px solid $border-color;

			&:last-child{
				border-bottom: none;
			}
		}
	}
}