.invoice-wrapper{
	padding: 40px;
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: $border-radius-base;
}

.invoice-header,
.invoice-details,
.invoice-lines{
	margin-bottom: 40px;
}

.invoice-brand{
	display: block;
}
.invoice-id{
	color: $text-muted;
	font-size: $font-size-large;
	line-height: $line-height-large;
	vertical-align: middle;
}

.invoice-details{
	dt + dd{
		margin-bottom: 10px;
	}
}
.invoice-notes{
	padding: 15px;
	border: 1px dashed $border-color;
	border-radius: $border-radius-base;
}


@media (max-width: $screen-xs-max) {
	.invoice-details{
		.text-right{
			text-align: left !important;
		}
	}
}