.pricing-table{
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: $border-radius-base;
	margin-bottom: 20px;
}

.pricing-header{
	padding: 15px;
	text-align: center;
	@include border-top-radius( $border-radius-base );

	> h1, 
	> h2, 
	> h3{
		@include text-overflow();
	}
}

.pricing-title{
	margin-top: 15px;
	font-size: $font-size-large;
	line-height: $line-height-large;
	letter-spacing: 5px;
	font-weight: 500;
	color: inherit;
	@include text-overflow();
}
.pricing-price{
	font-size: 32px;
	line-height: 1.3;
	font-weight: 600;
	> sup{
		font-size: 55%;
	}
	> small{
		font-size: 13px;
		font-weight: normal;
	}
}

.pricing-bar{
	display: table;
	width: 100%;

	> .pricing-bar-item{
		display: table-cell;
		padding: $padding-base-vertical $padding-base-horizontal;
		width: 50%;
		text-align: center;
		vertical-align: middle;
	}
}

.pricing-features{
	margin: 0;
	padding: 20px;
	list-style: none;
	// border-top: 1px solid $border-color;

	> li{
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid $border-color;
		text-align: center;

		&:last-child{
			border-bottom: none;
		}
	}
}

.pricing-footer{
	padding: 15px;
	text-align: center;
	@include border-bottom-radius( $border-radius-base );
	// border-top: 1px solid $border-color;
}