.profile-header{
	position: relative;
	padding: ($content-padding-vertical*1.5) ($content-padding-horizontal*1.5);
	border-top: 1px solid $content-border;

	.lead{
		margin-bottom: $padding-base-vertical;
	}
}

.profile-status{
	margin-bottom: 10px;
	font-size: $font-size-large;
	font-weight: 200;
	line-height: 1.2;
}
.profile-data{
	line-height: 1.6;

	> .fa,
	> .glyphicon{
		color: $text-muted;
		margin: 0 8px 0 $padding-base-horizontal;
	}
}


// Activity
.activity-wrapper{
	position: relative;
	padding: 15px;
}

.activity-list{
	position: relative;
	padding: (($padding-base-horizontal * 1.5) + 15px);
	border-left: 1px solid $border-color;
	
	.activity-status{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-left: (($padding-base-horizontal * 1.5) + 15px);

		.activity-description{
			// @include text-overflow();
		}

		> .activity-icon{
			position: absolute;
			@include square(28px);
			top: -4px;
			left: -14px;
			border-radius: 28px;
			background-color: $border-color;
			color: $text-color;
			text-align: center;
			text-decoration: none;

			> .fa,
			> .glyphicon{
				line-height: 28px;
			}
		}
	}
	.activity-comments,
	.activity-form{
		padding: 10px 0;
	}
}


// Projects
.project-wrapper{
	position: relative;
	
	.project-item{
		margin-bottom: floor($grid-gutter-width / 2);
		padding-bottom: 20px;
		background-color: #fff;
		border: 1px solid $border-color;
		border-radius: $border-radius-base;
	}
}
.project-img{
	> img{
		width: 100%;
		height: auto;
		@include border-top-radius( $border-radius-base );
	}
}
.project-descriptions{
	padding: 15px;
}
.project-resume{
	padding: 0 15px;
}
.project-grid{
	display: table;
	width: 100%;

	> .project-grid-item{
		padding: 15px 0;
		display: table-cell;
		width: 50%;
		border-width: 0 0 1px 1px;
		border-style: solid;
		border-color: $border-color;
		text-align: center;
		vertical-align: center;

		&:first-child{
			border-left-width: 0;
		}
	}
}
.project-resume > .project-grid:last-child > .project-grid-item{
	border-bottom-width: 0;
}


// Posts
.posts-wrapper{
	position: relative;

	.post-item{
		position: relative;
		margin-bottom: 20px;
		padding: 15px;
		background-color: #fff;
		border: 1px solid $border-color;
		border-radius: $border-radius-base;

		> .post-title{
			margin: 5px 0 15px;
			font-size: $font-size-large;
		}

		> .post-attributes{
			margin-bottom: 15px;
			> .post-status{
				margin-right: 20px;
			}
		}		
	}

	.post-details{
		display: inline-block;
		margin-right: 10px;
		font-size: $font-size-small;

		> .fa,
		> .glyphicon{
			margin-left: 5px;
		}
	}
}
.post-img{
	display: block;
	position: relative;
	margin-right: 15px;
	float: left;

	> img{
		width: 200px;
		height: auto;
	}
}

.about-wrapper{
	padding: 15px;
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: $border-radius-base;
}


// RTL Mode
body.wrapkit-content-rtl{
	.profile-data{
		> .fa,
		> .glyphicon{
			margin: 0 $padding-base-horizontal 0 8px;
		}
	}

	.project-grid{
		> .project-grid-item{
			&:first-child{
				border-left-width: 1px;
			}
			&:last-child{
				border-left-width: 0;
			}
		}
	}

	.activity-list{
		border-left: none;
		border-right: 1px solid $border-color;

		.activity-status{
			padding-left: 0;
			padding-right: (($padding-base-horizontal * 1.5) + 15px);

			> .activity-icon{
				left: auto;
				right: -14px;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.profile-header{
		text-align: center;
	}
	.profile-avatar{
		margin: 0 0 15px;
		float: none !important;
	}
	.post-img{
		margin-right: 0;
		margin-bottom: 15px;
		float: none;
		max-height: 240px;
		overflow: hidden;
		
		> img{
			width: 100%;
			height: auto;
		}
	}
}