%h1 You are not authorized

%p
  Please wait for your account to be activated.

%p
  Or
  - link_to "Login", "/login"
  with another user account that has already been activated.

%p
  If you still experience logins issue or your account has not been activated after five working days, please send an email to:
  - link_to EMAIL_SUPPORT, "mailto:#{EMAIL_SUPPORT}"