%h1 You are not authorized

%p
  Please wait for your account to be activated

%p
  Or try to
  - link_to "Login", "/login"
  again

%p
  If you still experience logins issue or your account has not been activated after five working days, please send an email to:
  - link_to "soon@example.com", "mailto:soon@example.com"