- user = User.new(params[:user])

%h1 Login


%form{ action: "/sessions", method: "post" }
  - input user, :username, placeholder: true
  .separator10
  - input user, :password, placeholder: true, type: "password"
  .separator10
  %button.btn.btn-small.btn-primary.no-border.color-white{ type: "submit" } Login
  %p{ style: "text-align: center" }
    or
    %a.btn.btn-small.btn-primary.no-border.color-white{ href: "/register" } Register