- user = User.new

%h1 Login


%form{ action: "/sessions", method: "post" }
  %input{ name: "username", placeholder: "username", type: "text" }
  .separator10
  %input{ name: "password", placeholder: "password", type: "password" }
  .separator10
  %button.btn.btn-small.btn-primary.no-border.color-white{ type: "submit" } Login
  %p{ style: "text-align: center" }
    or
    %a.btn.btn-small.btn-primary.no-border.color-white{ href: "/register" } Register
  -# input user, :username
  -# input user, :password, type: "password"
  -# submit "Login"