%h1 You are not authorized

%p
  Please
  - link_to "Login", "/login"
  as member to access this page.
 
%p.info 
  Note:
  you can send a mail to
  - link_to "suppla@hotmail.com", "mailto:suppla@hotmail.com"
  to request access to the private forums