%h1 Register

= @user.errors.map{ |e| e }.join(", ")
-# validations_for @user

%form{ action: "/users", method: "post" }
  %input{ name: "user[username]", placeholder: "username", type: "text" }
  %input{ name: "user[email]",    placeholder: "email",    type: "text" }
  %input{ name: "user[password]", placeholder: "password", type: "password" }
  %input{ name: "user[password_confirmation]", placeholder: "confirm password", type: "password" }
  %button.btn.btn-primary{ type: "submit" } Register
  -# input @user, :username
  -# input @user, :password, type: "password"
  -# input @user, :password_confirmation, type: "password", label: "Confirm password"
  -# submit "Register"
