.user
  %h1= @user.username

  - if me?
    %nav.inpage
      - link_to "Edit profile", "/users/#{@user.id}/edit", class: "btn"

  %div
    - if File.exist? "#{Sinforum.root}/views/_ext_user.haml"
      = partial :ext_user

    .clear