:ruby
  class BalancePresenter
    include Blizz::Resource
  end

  buy   = { available: cur_user_balance.eur_available }
  sell  = { available: cur_user_balance.btc_available }
  buy   = Blizz.load BalancePresenter, buy
  sell  = Blizz.load BalancePresenter, sell

.col5.line-tablet.bordered-right
  .separator15
  %section.tab
    %section.col8.offset-left1
      %h1.font-x-large Buy
      %form{ action: "/orders", method: "post" }
        - hidden "order[type]",   :buy
        %label
          .separator5
          Available:
          %span €#{buy.available.f_eur}
          .separator10
          Amount
          .separator5
          %input{ type:"text", name: "order[amount]", placeholder: "BTC" }
          .separator10
        %label
          Price
          .separator5
          %input{ type: "text", name: "order[price]", placeholder: "€" }
          .separator15
          %p
            Total:
            %span €xxx
          .separator15
          - submit "Buy BTC", "btn color-white radius3 "
  .separator50
.hr.tablet.mobile
.col5.line-tablet
  .separator15
  %section.col8.offset-left1
    %h1.font-x-large Sell
    %form{ action: "/orders", method: "post" }
      - hidden "order[type]",   :sell
      %label
        .separator5
        Available:
        %span #{sell.available.to_dz} BTC
        .separator10
        Amount
        .separator5
        %input{ type:"text", name: "order[amount]", placeholder: "BTC" }
        .separator10
      %label
        Price
        .separator5
        %input{ type: "text", name: "order[price]", placeholder: "€" }
        .separator15
        Total:
        %span €xxx
        .separator15
        - submit "Sell BTC", "btn color-white radius3 "
  .separator50.desktop