- if orders.empty?
  There are no closed orders
- else
  %table
    %tr
      %th Type
      %th Amount
      %th Price
      %th Value
      %th Closed at
    - orders.each do |order|
      = partial :"orders/_order_closed", order: order
