- if orders.empty?
  There are no open orders
- else
  %table
    %tr
      %th Type
      %th Amount
      %th Price
      %th Value
      %th
    - orders.each do |order|
      = partial :"orders/_order", order: order
