
.line-max-medium.tabbed
  %nav.line.bg-green.color-white.bg-pattern1
    .col4
      .line-compress
        %h1.line-compress
          .separator10
          Orders
    .col2
    %button.col2.center-content.bg-muted.color-white.current
      %h3
        .separator10
        .separator5
        %i.fa.fa-check
        &nbsp;Open
        .separator10
        .separator5
    %button.col2.center-content.bg-muted.color-white
      %h3
        .separator10
        .separator5
        %i.fa.fa-suitcase
        &nbsp;Closed
        .separator10
        .separator5

  .line-compress.bg-white
    .separator15
    %section.orders_open
      %h1 Open orders

      = haml :"orders/_open"

    %section.orders_closed.hidden
      %h1 Closed orders

      = haml :"orders/_closed"

    .separator15