
.line-max-medium
  .line.bg-green.color-white.bg-pattern1
    .col6
      .line-compress
        %h1.line-compress
          .separator10
          Orders
    .col2.center-content.bg-muted
      %h2
        .separator10
        .separator2
        %i.fa.fa-check &nbsp;Open
        .separator10
        .separator2
    %a.col2.center-content.bg-muted.color-white.toggle-opacity-hover
      %h2
        .separator10
        .separator2
        %i.fa.fa-lock &nbsp;Closed
        .separator10
        .separator2

  .line-compress.bg-white
    .separator15
    %section.orders_open
      %h1 Open orders

      = haml :"orders/_open"

    %section.orders_closed
      %h1 Closed orders

      = haml :"orders/_closed"

    .separator15