:ruby
  open    = current_user.orders_open
  closed  = current_user.orders_closed
  # TODO: optimize with redis magic
  # closed_count = R[optimized with redis you know!]
  # TODO: follows cool idea... but no!
  #closed_count_month  = current_user.orders_closed_count_month
  closed_count  = closed.count


.line-max-medium.tabbed
  %nav.line.bg-green.color-white.bg-pattern1
    .col6
      .line-compress
        %h1.line-compress
          .separator10
          Orders
          .separator10.mobile.tablet
    .col2
    %button.col2.line-tablet.center-content.bg-muted.color-white.current
      %h3
        .separator10
        .separator3
        %i.fa.fa-check
        &nbsp;Open (#{open.count})
        .separator10
        .separator3
    %button.col2.line-tablet.center-content.bg-muted.color-white
      %h3
        .separator10
        .separator3
        %i.fa.fa-suitcase
        &nbsp;Closed (#{closed_count})
        <br>
        .separator10
        .separator3

  .line-compress.bg-white
    .separator15
    %section.orders_open
      %h1 Open orders

      = partial :"orders/_open", orders: open

    %section.orders_closed.hidden
      %h1 Closed orders

      = partial :"orders/_closed", orders: closed

    .separator15