.line-compress
  .col8.offset-left1.line-tablet
    %h1.font-x-large.center-content
      Buy/Sell

%section.tab.hidden
  %label
    Buy/Sell Amount
    %input{ type: "text" }

  equivalent to x BTC

%a.btn.block{ :"data-toggle" => "advanced", href: js_void } Advanced

.clear

%section.advanced.hidden
  %h1 Advanced: Place a limit order

  = haml :"orders/_buy_sell"