.line-compress
  .col8.offset-left1.line-tablet
    %h1.font-x-large.center-content
      Buy/Sell

%section.tab
  %h1 Buy / Sell
  
  %section
    %h1 Buy
    %form{ action: "/orders", method: "post" }
      - hidden "order[simple]", true
      %label
        Amount to buy    
        %input{ name: "order[amount]", placeholder: "amount (BTC)" }
        - submit "Buy BTC"

  %section
    %h1 Sell
    %form{ action: "/orders", method: "post" }
      - hidden "order[simple]", true
      %label
        Amount to sell    
        %input{ name: "order[amount]", placeholder: "amount (BTC)" }
        - submit "Buy BTC"


%a.btn.block{ :"data-toggle" => "advanced", href: js_void } Advanced

.clear

%section.advanced.hidden
  %h1 Advanced: Place a limit order

  = haml :"orders/_buy_sell"