// Footer
$footer-padding-vertical: $content-padding-vertical !default;
$footer-padding-horizontal: $content-padding-horizontal !default;

// footer skins midwet (default)
$footer-bg: $sidebar-bg !default;
$footer-border-color: $sidebar-border-color !default;
$footer-color: $sidebar-nav-item-color !default;

// Whity
$footer-whity-bg: $sidebar-whity-bg !default;
$footer-whity-border-color: $sidebar-whity-border-color !default;
$footer-whity-color: $sidebar-whity-nav-item-color !default;

// Greentur
$footer-greentur-bg: $sidebar-greentur-bg !default;
$footer-greentur-border-color: $sidebar-greentur-border-color !default;
$footer-greentur-color: $sidebar-greentur-nav-item-color !default;

// Nephem
$footer-nephem-bg: $sidebar-nephem-bg !default;
$footer-nephem-border-color: $sidebar-nephem-border-color !default;
$footer-nephem-color: $sidebar-nephem-nav-item-color !default;

// Belpet
$footer-belpet-bg: $sidebar-belpet-bg !default;
$footer-belpet-border-color: $sidebar-belpet-border-color !default;
$footer-belpet-color: $sidebar-belpet-nav-item-color !default;

// wistam
$footer-wistam-bg: $sidebar-wistam-bg !default;
$footer-wistam-border-color: $sidebar-wistam-border-color !default;
$footer-wistam-color: $sidebar-wistam-nav-item-color !default;

// Osun
$footer-osun-bg: $sidebar-osun-bg !default;
$footer-osun-border-color: $sidebar-osun-border-color !default;
$footer-osun-color: $sidebar-osun-nav-item-color !default;

// Pumcar
$footer-pumcar-bg: $sidebar-pumcar-bg !default;
$footer-pumcar-border-color: $sidebar-pumcar-border-color !default;
$footer-pumcar-color: $sidebar-pumcar-nav-item-color !default;

// Pomeal
$footer-pomeal-bg: $sidebar-pomeal-bg !default;
$footer-pomeal-border-color: $sidebar-pomeal-border-color !default;
$footer-pomeal-color: $sidebar-pomeal-nav-item-color !default;

// Silc
$footer-silc-bg: $sidebar-silc-bg !default;
$footer-silc-border-color: $sidebar-silc-border-color !default;
$footer-silc-color: $sidebar-silc-nav-item-color !default;

// Ascon
$footer-ascon-bg: $sidebar-ascon-bg !default;
$footer-ascon-border-color: $sidebar-ascon-border-color !default;
$footer-ascon-color: $sidebar-ascon-nav-item-color !default;