/*
Copyright 2012 Igor Vaynberg

Version: 3.4.8 Timestamp: Thu May  1 09:50:32 EDT 2014
*/

/* line 6, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container {
  position: relative;
  margin: 0;
  min-width: 200px;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 16, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container .select2-choice {
  position: relative;
  display: block;
  min-height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  border: 1px solid #e7edf2;
  background-color: white;
  background-clip: padding-box;
  text-decoration: none;
  border-radius: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 31, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #e7edf2;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 36, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container .select2-choice > .select2-chosen {
  margin-right: 32px;
  display: block;
  color: #3e5771;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 42, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container .select2-choice .select2-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: white;
  padding: 0 12px;
  border-left: 1px solid #e7edf2;
  width: 34px;
  height: 100%;
  background-clip: padding-box;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 55, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-dropdown-open .select2-choice .select2-arrow {
  border-radius: 0;
  border-left-color: transparent;
}

/* line 59, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container .select2-choice .select2-arrow b:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f0dc';
  display: block;
  color: #3e5771;
  width: 100%;
  height: 100%;
  padding: 6px 0;
}

/* line 73, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search-choice-close {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 12px;
  height: 13px;
  display: block;
  outline: none;
}

/* line 82, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search-choice-close:before {
  content: 'x';
  font-weight: 700;
}

/* line 87, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-search-choice-close {
  top: 2px;
  right: 0;
  color: #3e5771;
}

/* line 92, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  color: #3e5771;
  text-decoration: none;
}

/* line 96, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  color: #a1aab0;
}

/* line 100, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 52px;
}

/* line 103, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container .select2-choice abbr {
  display: none;
  right: 38px;
  top: 6px;
  color: #a1aab0;
}

/* line 109, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

/* line 112, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container .select2-choice abbr:hover {
  cursor: pointer;
}

/* line 116, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 1070;
  /* styles required for IE to work */
  background-color: white;
  filter: alpha(opacity=0);
}

/* line 134, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 1071;
  top: 100%;
  background: white;
  border: 1px solid #e7edf2;
  border-top: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 147, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop-auto-width {
  padding: 15px 10px;
}

/* line 150, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop-auto-width .select2-search {
  padding: 6px 12px;
  background-color: white;
}

/* line 154, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #e7edf2;
  border-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 162, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop-active {
  border: 1px solid #c6d3e0;
  border-top: none;
}

/* line 166, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #c6d3e0;
}

/* line 170, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%;
  z-index: 1072;
  min-height: 34px;
  padding: 6px 12px;
  white-space: nowrap;
}

/* line 180, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search:after {
  position: absolute;
  top: 12px;
  right: 22px;
  color: #a1aab0;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f002';
  z-index: 2;
}

/* line 193, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop.select2-drop-above .select2-search {
  padding-top: 9px;
}

/* line 195, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop.select2-drop-above .select2-search:after {
  top: 20px;
}

/* line 199, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 34px;
  margin: 0;
  outline: 0;
  padding: 6px 34px 6px 12px;
  background-color: white;
  border: 1px solid #e7edf2;
  border-radius: 4px;
}

/* line 210, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search input:focus {
  border-color: #c6d3e0;
}

/* line 215, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

/* line 218, ../../app/styles/scss/dependencies/_select2.scss */

.select2-search input.select2-active {
  background: white url("../images/select2/select2-spinner.gif") no-repeat 100%;
}

/* line 223, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #c6d3e0;
  outline: none;
}

/* line 228, ../../app/styles/scss/dependencies/_select2.scss */

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  background-color: white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 235, ../../app/styles/scss/dependencies/_select2.scss */

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border-top-color: transparent;
  border: 1px solid #c6d3e0;
  background-color: white;
}

/* line 241, ../../app/styles/scss/dependencies/_select2.scss */

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */

/* line 253, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results {
  max-height: 300px;
  padding: 0 4px;
  margin: -3px 0 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 262, ../../app/styles/scss/dependencies/_select2.scss */

.select2-drop-multi .select2-results {
  margin-top: 0;
}

/* line 265, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

/* line 270, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}

/* line 271, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}

/* line 272, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}

/* line 273, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}

/* line 274, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}

/* line 275, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}

/* line 276, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}

/* line 278, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

/* line 284, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

/* line 287, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-result-label {
  padding: 3px 12px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 294, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-highlighted {
  background-color: #20638f;
  color: white;
}

/* line 298, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results li em {
  background-color: #feffde;
  font-style: normal;
}

/* line 302, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-highlighted em {
  background: transparent;
}

/* line 305, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-highlighted ul {
  background-color: white;
}

/* line 311, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background-color: #f5f7f7;
  display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/

/* line 319, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-disabled.select2-highlighted {
  color: #a1aab0;
  background-color: #f5f7f7;
  display: list-item;
  cursor: default;
}

/* line 325, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-disabled {
  background: #f5f7f7;
  display: list-item;
  cursor: default;
}

/* line 330, ../../app/styles/scss/dependencies/_select2.scss */

.select2-results .select2-selected {
  display: none;
}

/* line 334, ../../app/styles/scss/dependencies/_select2.scss */

.select2-more-results.select2-active {
  background: transparent url("../images/select2/select2-spinner.gif") no-repeat 100%;
}

/* line 337, ../../app/styles/scss/dependencies/_select2.scss */

.select2-more-results {
  background: transparent;
  display: list-item;
}

/* disabled styles */

/* line 343, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-container-disabled .select2-chosen {
  color: #a1aab0;
}

/* line 346, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-container-disabled .select2-choice {
  background-color: #f5f7f7;
  background-image: none;
  border: 1px solid #e7edf2;
  cursor: default;
}

/* line 352, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f5f7f7;
  background-image: none;
  border-left: 0;
}

/* line 356, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-container-disabled .select2-choice .select2-arrow b:before {
  color: #a1aab0;
}

/* line 360, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */

/* line 365, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 3px 12px 3px 6px;
  position: relative;
  border: 1px solid #e7edf2;
  cursor: text;
  overflow: hidden;
  background-color: white !important;
  border-radius: 4px;
}

/* line 377, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-dropdown-open.select2-container-active:not(.select2-drop-above) .select2-choices {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

/*select2-container select2-container-multi select2-container-active select2-dropdown-open select2-drop-above*/

/* line 383, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-dropdown-open.select2-drop-above.select2-container-active .select2-choices {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}

/* line 388, ../../app/styles/scss/dependencies/_select2.scss */

.select2-locked {
  padding: 6px 12px !important;
}

/* line 391, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices {
  min-height: 34px;
}

/* line 394, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #c6d3e0;
  outline: none;
}

/* line 399, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

/* line 403, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 408, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 1px 0 0 6px;
  margin: 1px 0;
  font-size: 14px;
  outline: 0;
  border: 0;
  background: transparent !important;
}

/* line 416, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: transparent url("../images/select2/select2-spinner.gif") no-repeat 100% !important;
}

/* line 419, ../../app/styles/scss/dependencies/_select2.scss */

.select2-default {
  color: #a1aab0 !important;
}

/* line 422, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 2px 16px 3px 6px;
  margin: 3px 0 3px 6px;
  position: relative;
  font-size: 12px;
  line-height: 13px;
  background-color: #c6d3e0;
  cursor: default;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 433, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice:first-child {
  margin-left: 6px;
}

/* line 436, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

/* line 439, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background-color: #20638f;
  color: white;
  border-color: #20638f;
}

/* line 444, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  color: white;
}

/* disabled styles */

/* line 448, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f5f7f7 !important;
  background-image: none;
  border: 1px solid #e7edf2;
  cursor: default;
}

/* line 454, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 2px 4px 3px;
  border: 1px solid #e7edf2;
  background-image: none;
  text-align: center;
  color: #a1aab0;
  background-color: #ecf0f1;
}

/* line 462, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-field input {
  margin: 0;
  padding: 3px 6px;
  min-height: 28px;
  line-height: 1.42857;
  font-size: 14px;
}

/* line 469, ../../app/styles/scss/dependencies/_select2.scss */

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */

/* line 475, ../../app/styles/scss/dependencies/_select2.scss */

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

/* line 478, ../../app/styles/scss/dependencies/_select2.scss */

.select2-offscreen,
.select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* line 491, ../../app/styles/scss/dependencies/_select2.scss */

.select2-display-none {
  display: none;
}

/* line 494, ../../app/styles/scss/dependencies/_select2.scss */

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* line 504, ../../app/styles/scss/dependencies/_select2.scss */

.wrapkit-content-rtl .select2-container-multi .select2-choices li {
  float: right;
}

/* line 507, ../../app/styles/scss/dependencies/_select2.scss */

.wrapkit-content-rtl .select2-search-choice-close {
  right: 4px;
}

/* line 511, ../../app/styles/scss/dependencies/_select2.scss */

.wrapkit-content-rtl .select2-search input {
  direction: rtl;
}

/* line 514, ../../app/styles/scss/dependencies/_select2.scss */

.wrapkit-content-rtl .select2-results .select2-result-label {
  text-align: right;
}