/*
Error: Invalid CSS after "...wn-menu li:not(": expected ")", was "".divider")"
        on line 35 of public/stylesheets/sass/sidebar/_sidebar.scss
        from line 8 of ./public/stylesheets/sass/sidebar.scss

Backtrace:
public/stylesheets/sass/sidebar/_sidebar.scss:35
./public/stylesheets/sass/sidebar.scss:8
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/parser.rb:1163:in `expected'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/parser.rb:1099:in `expected'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/parser.rb:1094:in `tok!'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/static_parser.rb:289:in `pseudo'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/static_parser.rb:160:in `simple_selector_sequence'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/static_parser.rb:119:in `selector'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/parser.rb:1077:in `expr!'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `map'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `map'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:315:in `map'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:88:in `with_import'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/local/rvm/gems/ruby-2.1.1/gems/sass-3.4.8/lib/sass/plugin/rack.rb:51:in `call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/lint.rb:49:in `_call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/lint.rb:37:in `call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/showexceptions.rb:24:in `call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/commonlogger.rb:33:in `call'
/usr/local/rvm/gems/ruby-2.1.1/gems/sinatra-1.4.5/lib/sinatra/base.rb:217:in `call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/chunked.rb:43:in `call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/content_length.rb:14:in `call'
/usr/local/rvm/gems/ruby-2.1.1@global/gems/rack-1.5.2/lib/rack/handler/webrick.rb:60:in `service'
/usr/local/rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:138:in `service'
/usr/local/rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/httpserver.rb:94:in `run'
/usr/local/rvm/rubies/ruby-2.1.1/lib/ruby/2.1.0/webrick/server.rb:295:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...wn-menu li:not(\": expected \")\", was \"\".divider\")\"\A         on line 35 of public/stylesheets/sass/sidebar/_sidebar.scss\A         from line 8 of ./public/stylesheets/sass/sidebar.scss"; }
