// ==============================================
// CORE VARIABLES AND MIXINS (custom fot wrapkit)
// ==============================================
@import "scss/variables";
@import "scss/mixins";




// NAVBAR: Pomeal
@include navbar( 'pomeal', $navbar-pomeal-color, $navbar-pomeal-bg, $navbar-pomeal-border, $navbar-pomeal-link-color, $navbar-pomeal-link-hover-color, $navbar-pomeal-link-hover-bg, $navbar-pomeal-link-active-color, $navbar-pomeal-link-active-bg, $navbar-pomeal-link-disabled-color, $navbar-pomeal-link-disabled-bg, $navbar-pomeal-brand-color, $navbar-pomeal-brand-hover-color, $navbar-pomeal-brand-hover-bg, $navbar-pomeal-toggle-hover-bg, $navbar-pomeal-toggle-icon-bar-bg, $navbar-pomeal-toggle-border-color );

// SIDEBAR: Pomeal
@include sidebar-skin( 'pomeal', $sidebar-pomeal-bg, $sidebar-pomeal-color, $sidebar-pomeal-border-color, $sidebar-pomeal-ui-resizable-handle, $sidebar-pomeal-divider-color, $sidebar-pomeal-divider-height, $sidebar-pomeal-nav-header-color, $sidebar-pomeal-nav-item-bg, $sidebar-pomeal-nav-item-bg-hover, $sidebar-pomeal-nav-item-bg-active, $sidebar-pomeal-nav-item-color, $sidebar-pomeal-nav-item-color-hover, $sidebar-pomeal-nav-text-color, $sidebar-pomeal-nav-border-color, $sidebar-pomeal-nav-item-border-top, $sidebar-pomeal-nav-item-border-bottom, $sidebar-pomeal-nav-item-border-right, $sidebar-pomeal-nav-icon-color, $sidebar-pomeal-nav-item-loader-bg, $sidebar-pomeal-nav-item-child-bg-hover, $sidebar-pomeal-nav-item-child-color-hover, $sidebar-pomeal-nav-item-child-bg-active );

// FOOTER: Pomeal
footer.footer-wrapper.footer-pomeal{
	background: $footer-pomeal-bg;
	color: $footer-pomeal-color;

	.footer{
		border-color: $footer-pomeal-border-color;
	}
} // end of footer (skin pomeal)