// ==============================================
// CORE VARIABLES AND MIXINS (custom fot wrapkit)
// ==============================================
@import "scss/variables";
@import "scss/mixins";




// NAVBAR: Wistam
@include navbar( 'wistam', $navbar-wistam-color, $navbar-wistam-bg, $navbar-wistam-border, $navbar-wistam-link-color, $navbar-wistam-link-hover-color, $navbar-wistam-link-hover-bg, $navbar-wistam-link-active-color, $navbar-wistam-link-active-bg, $navbar-wistam-link-disabled-color, $navbar-wistam-link-disabled-bg, $navbar-wistam-brand-color, $navbar-wistam-brand-hover-color, $navbar-wistam-brand-hover-bg, $navbar-wistam-toggle-hover-bg, $navbar-wistam-toggle-icon-bar-bg, $navbar-wistam-toggle-border-color );

// SIDEBAR:  Wistam
@include sidebar-skin( 'wistam', $sidebar-wistam-bg, $sidebar-wistam-color, $sidebar-wistam-border-color, $sidebar-wistam-ui-resizable-handle, $sidebar-wistam-divider-color, $sidebar-wistam-divider-height, $sidebar-wistam-nav-header-color, $sidebar-wistam-nav-item-bg, $sidebar-wistam-nav-item-bg-hover, $sidebar-wistam-nav-item-bg-active, $sidebar-wistam-nav-item-color, $sidebar-wistam-nav-item-color-hover, $sidebar-wistam-nav-text-color, $sidebar-wistam-nav-border-color, $sidebar-wistam-nav-item-border-top, $sidebar-wistam-nav-item-border-bottom, $sidebar-wistam-nav-item-border-right, $sidebar-wistam-nav-icon-color, $sidebar-wistam-nav-item-loader-bg, $sidebar-wistam-nav-item-child-bg-hover, $sidebar-wistam-nav-item-child-color-hover, $sidebar-wistam-nav-item-child-bg-active );

// FOOTER Wistam
footer.footer-wrapper.footer-wistam{
	background: $footer-wistam-bg;
	color: $footer-wistam-color;

	.footer{
		border-color: $footer-wistam-border-color;
	}
} // end of footer (skin wistam)