// ==============================================
// CORE VARIABLES AND MIXINS (custom fot wrapkit)
// ==============================================
@import "scss/variables";
@import "scss/mixins";




// NAVBAR: Silc
@include navbar( 'silc', $navbar-silc-color, $navbar-silc-bg, $navbar-silc-border, $navbar-silc-link-color, $navbar-silc-link-hover-color, $navbar-silc-link-hover-bg, $navbar-silc-link-active-color, $navbar-silc-link-active-bg, $navbar-silc-link-disabled-color, $navbar-silc-link-disabled-bg, $navbar-silc-brand-color, $navbar-silc-brand-hover-color, $navbar-silc-brand-hover-bg, $navbar-silc-toggle-hover-bg, $navbar-silc-toggle-icon-bar-bg, $navbar-silc-toggle-border-color );

// SIDEBAR: Silc
@include sidebar-skin( 'silc', $sidebar-silc-bg, $sidebar-silc-color, $sidebar-silc-border-color, $sidebar-silc-ui-resizable-handle, $sidebar-silc-divider-color, $sidebar-silc-divider-height, $sidebar-silc-nav-header-color, $sidebar-silc-nav-item-bg, $sidebar-silc-nav-item-bg-hover, $sidebar-silc-nav-item-bg-active, $sidebar-silc-nav-item-color, $sidebar-silc-nav-item-color-hover, $sidebar-silc-nav-text-color, $sidebar-silc-nav-border-color, $sidebar-silc-nav-item-border-top, $sidebar-silc-nav-item-border-bottom, $sidebar-silc-nav-item-border-right, $sidebar-silc-nav-icon-color, $sidebar-silc-nav-item-loader-bg, $sidebar-silc-nav-item-child-bg-hover, $sidebar-silc-nav-item-child-color-hover, $sidebar-silc-nav-item-child-bg-active );

// FOOTER: Silc
footer.footer-wrapper.footer-silc{
	background: $footer-silc-bg;
	color: $footer-silc-color;

	.footer{
		border-color: $footer-silc-border-color;
	}
} // end of footer (skin silc)