.line-max-medium
  %h1.font-x-large.center-content Contact us
  .separator30
  %h3.center-content
    %i.fa.fa-envelope.color-info
    &nbsp; #{TITLE}@example.com
  .separator5
  %h3.center-content
    %i.fa.fa-skype.color-skype
    &nbsp; #{TITLE}