/ wording

/ Start trading now
/
/ Easy verification
/ Euro accepted
/ ...

/ more features


/ graphs? / order books? / twitter feed? / live trades

.home.bg-white
  .line-compress.bg-white
    .line-max.bg-white
      .col5
        %img{width: "auto", src: "img/logo.png"}
      .col5.right-content
        .separator10
        .separator10
        .separator3
        .line
          .push-right
            %a.toggle-opacity-hover
              &nbsp;Signup&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            %a.toggle-opacity-hover
              &nbsp;Login&nbsp;
      .separator100
      .separator30
      %h1.line.font-xx-large.center-content
        The bitcoin exchange network
      %h2.line.center-content.color-muted
        Exchange your bitcoin at the speed of light with the most secure platform
      .separator100
      .separator100
      .line.center-content
        .line.color-muted
          %small
            Explore the features
        .separator10
        %a
          %i.fa.fa-arrow-circle-o-down.fa-3x.toggle-opacity-hover
      .separator100
      .separator15
  .line-compress.bg-lightgreen
    .separator100
    .line-max
      .col5
        %h1.color-white.font-x-large
          Safe and trusted
        %h2.color-muted
          Exchange bitcoins lorem ipsum
      .col5
        what about a screen here?
    .separator100
  .line-compress.bg-darkgreen.color-white
    .separator100
    .line-max
      .col5
        what about a screen here?
      .col5
        %h1.color-white.font-x-large
          Fast and loud
        %h2.color-muted
          Exchange bitcoins lorem ipsum
    .separator100
  .line-compress.bg-highlight
    .separator100
    .line-max
      .col5
        %h1.font-x-large
          Bitcoin friendly
        %h2.color-muted
          Exchange bitcoins lorem ipsum
      .col5
        what about a bitcoin icon/logo with something more
    .separator100
  .line-compress.bg-black.color-white
    .separator100
    %h3.center-content
      %a.toggle-opacity-inverse-hover
        &nbsp;Contact us&nbsp;
      &nbsp;
      %a.toggle-opacity-inverse-hover
        &nbsp;About us&nbsp;
      %a.toggle-opacity-inverse-hover
        &nbsp;&nbsp;Get in touch&nbsp;
      .separator50
      .line.color-muted-inverse
        Copyright ©
        %a.toggle-opacity-inverse-hover
          %i Lemontree
    .separator100