// ==============================================
// CORE VARIABLES AND MIXINS (custom fot wrapkit)
// ==============================================
@import "scss/variables";
@import "scss/mixins";




// NAVBAR: Belpet
@include navbar( 'belpet', $navbar-belpet-color, $navbar-belpet-bg, $navbar-belpet-border, $navbar-belpet-link-color, $navbar-belpet-link-hover-color, $navbar-belpet-link-hover-bg, $navbar-belpet-link-active-color, $navbar-belpet-link-active-bg, $navbar-belpet-link-disabled-color, $navbar-belpet-link-disabled-bg, $navbar-belpet-brand-color, $navbar-belpet-brand-hover-color, $navbar-belpet-brand-hover-bg, $navbar-belpet-toggle-hover-bg, $navbar-belpet-toggle-icon-bar-bg, $navbar-belpet-toggle-border-color );

// SIDEBAR: Belpet
@include sidebar-skin( 'belpet', $sidebar-belpet-bg, $sidebar-belpet-color, $sidebar-belpet-border-color, $sidebar-belpet-ui-resizable-handle, $sidebar-belpet-divider-color, $sidebar-belpet-divider-height, $sidebar-belpet-nav-header-color, $sidebar-belpet-nav-item-bg, $sidebar-belpet-nav-item-bg-hover, $sidebar-belpet-nav-item-bg-active, $sidebar-belpet-nav-item-color, $sidebar-belpet-nav-item-color-hover, $sidebar-belpet-nav-text-color, $sidebar-belpet-nav-border-color, $sidebar-belpet-nav-item-border-top, $sidebar-belpet-nav-item-border-bottom, $sidebar-belpet-nav-item-border-right, $sidebar-belpet-nav-icon-color, $sidebar-belpet-nav-item-loader-bg, $sidebar-belpet-nav-item-child-bg-hover, $sidebar-belpet-nav-item-child-color-hover, $sidebar-belpet-nav-item-child-bg-active );

// FOOTER: Belpet
footer.footer-wrapper.footer-belpet{
	background: $footer-belpet-bg;
	color: $footer-belpet-color;

	.footer{
		border-color: $footer-belpet-border-color;
	}
} // end of footer (skin belpet)