// ==============================================
// CORE VARIABLES AND MIXINS (custom fot wrapkit)
// ==============================================
@import "scss/variables";
@import "scss/mixins";




// NAVBAR: Osun
@include navbar( 'osun', $navbar-osun-color, $navbar-osun-bg, $navbar-osun-border, $navbar-osun-link-color, $navbar-osun-link-hover-color, $navbar-osun-link-hover-bg, $navbar-osun-link-active-color, $navbar-osun-link-active-bg, $navbar-osun-link-disabled-color, $navbar-osun-link-disabled-bg, $navbar-osun-brand-color, $navbar-osun-brand-hover-color, $navbar-osun-brand-hover-bg, $navbar-osun-toggle-hover-bg, $navbar-osun-toggle-icon-bar-bg, $navbar-osun-toggle-border-color );

// SIDEBAR: Osun
@include sidebar-skin( 'osun', $sidebar-osun-bg, $sidebar-osun-color, $sidebar-osun-border-color, $sidebar-osun-ui-resizable-handle, $sidebar-osun-divider-color, $sidebar-osun-divider-height, $sidebar-osun-nav-header-color, $sidebar-osun-nav-item-bg, $sidebar-osun-nav-item-bg-hover, $sidebar-osun-nav-item-bg-active, $sidebar-osun-nav-item-color, $sidebar-osun-nav-item-color-hover, $sidebar-osun-nav-text-color, $sidebar-osun-nav-border-color, $sidebar-osun-nav-item-border-top, $sidebar-osun-nav-item-border-bottom, $sidebar-osun-nav-item-border-right, $sidebar-osun-nav-icon-color, $sidebar-osun-nav-item-loader-bg, $sidebar-osun-nav-item-child-bg-hover, $sidebar-osun-nav-item-child-color-hover, $sidebar-osun-nav-item-child-bg-active );

// FOOTER: Osun
footer.footer-wrapper.footer-osun{
	background: $footer-osun-bg;
	color: $footer-osun-color;

	.footer{
		border-color: $footer-osun-border-color;
	}
} // end of footer (skin osun)