
// content skins
@mixin content-skin( $skinName, $color, $bg-color, $border-color ){
	.content-wrapper.content-#{$skinName}{
		background: $bg-color;
		color: $color;

		.content-header,
		.content-actions,
		.content{
			border-color: $border-color;
		}
	}
}