.setup-wrapper{
	margin: -15px;	
}
.setup-lists{
	margin: 0;
	padding: 0;
	list-style: none;
}
.setup-lists-item{
	display: block;
	padding: 15px;
	border-top: 1px solid $border-color;

	&:first-child{
		border-top: none;
	}

	.setup-item-text{
		display: block;
		@include text-overflow();

		> small{
			color: $text-muted;
		}
	}

	.form-control{
		display: inline-block;
		height: 24px;
		line-height: 24px;
		margin-bottom: 0;
		padding: 0 4px;
		font-size: $font-size-small;
		border-radius: 0;
	}
}

ul.color-lists{
	margin: 10px 0 0;
	padding: 0;
	list-style: none;

	> li{
		display: inline-block;

		> a {
			display: inline-block;
			width: 28px;
			height: 28px;
			border-radius: 28px;
			border: 6px solid $border-color;
			@include transition(ease border .3s);
			overflow: hidden;
			
			> img{
				width: 100%;
				height: 100%;
			}

			&:hover{
				text-decoration: none;
				border-width: 4px;
				border-color: darken( $border-color, 15% );
			}

			&.skin-img{
				border-width: 2px;
				border-radius: 0;
			}
		}

		&.active{
			a{
				border-width: 4px;
				border-color: #000;
			}

			a.skin-img{
				border-width: 2px;
				border-color: #000;
			}
		}
	}
}