// Content
$content-header-bg: #fff !default;
$content-title-font-size: 24px !default;
$content-padding-vertical: 10px !default;
$content-padding-horizontal: 15px !default;
// theme
$content-base: $base-dark;					// default content theme (midwet)
$content-bg: lighten( $content-base, 83% ) !default;
$content-border: $border-color !default;
$content-heading-color: $gray-darker !default;
$content-color: $gray-dark !default;

/**
// whity
$content-whity-base: #fff;
$content-whity-bg: darken( $content-whity-base, 3% ) !default;
$content-whity-border: darken( $content-whity-base, 8% ) !default;
$content-whity-color: $gray-dark !default;
// greentur
$content-greentur-base: darken( $base-teal, 10% );
$content-greentur-bg: lighten( $content-greentur-base, 72.5% ) !default;
$content-greentur-border: darken( $content-greentur-base, 3% ) !default;
$content-greentur-color: darken( $content-greentur-base, 5% ) !default;
// nephem
$content-nephem-base: darken( $base-green, 10% );
$content-nephem-bg: lighten( $content-nephem-base, 65% ) !default;
$content-nephem-border: lighten( $content-nephem-base, 60% ) !default;
$content-nephem-color: darken( $content-nephem-base, 5% ) !default;
// belpet
$content-belpet-base: darken( $base-blue, 10% );
$content-belpet-bg: lighten( $content-belpet-base, 60% ) !default;
$content-belpet-border: lighten( $content-belpet-base, 55% ) !default;
$content-belpet-color: darken( $content-belpet-base, 5% ) !default;
// wistam
$content-wistam-base: darken( $base-purple, 10% );
$content-wistam-bg: lighten( $content-wistam-base, 60% ) !default;
$content-wistam-border: lighten( $content-wistam-base, 55% ) !default;
$content-wistam-color: darken( $content-wistam-base, 5% ) !default;
// osun
$content-osun-base: darken( $base-yellow, 10% );
$content-osun-bg: lighten( $content-osun-base, 57.5% ) !default;
$content-osun-border: lighten( $content-osun-base, 52.5% ) !default;
$content-osun-color: darken( $content-osun-base, 5% ) !default;
// pumcar
$content-pumcar-base: darken( $base-orange, 10% );
$content-pumcar-bg: lighten( $content-pumcar-base, 67.5% ) !default;
$content-pumcar-border: lighten( $content-pumcar-base, 62.5% ) !default;
$content-pumcar-color: darken( $content-pumcar-base, 5% ) !default;
// pomeal
$content-pomeal-base: darken( $base-red, 10% );
$content-pomeal-bg: lighten( $content-pomeal-base, 62.5% ) !default;
$content-pomeal-border: lighten( $content-pomeal-base, 57.5% ) !default;
$content-pomeal-color: darken( $content-pomeal-base, 5% ) !default;
// silc
$content-silc-base: darken( $base-white, 10% );
$content-silc-bg: lighten( $content-silc-base, 8% ) !default;
$content-silc-border: lighten( $content-silc-base, 3% ) !default;
$content-silc-color: $gray-dark !default;
// ascon
$content-ascon-base: darken( $gray, 20% );
$content-ascon-bg: lighten( $content-ascon-base, 62.5% ) !default;
$content-ascon-border: lighten( $content-ascon-base, 57.2% ) !default;
$content-ascon-color: $gray-dark !default;

**/